<!DOCTYPE html>
<html>

<head>
    <title>page</title>
    <title>materialbox</title>
    <title>navbar</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/archive.css">
    <link rel="stylesheet" href="/partials/color.css">

</head>

<body>

        <!-- NAVIGATION SIDEBAR -->
    <div style="display: flex; justify-content:space-between;">
        {{> navbar}}

        {{> logout}}
    </div>

    <div style="padding: 2% 2% 0% 2%">
       <div style="padding: 2% 2% 0% 2%">

        <!-- BLANK TEAL DIVIDER -->
        {{!-- <div class="row">
            <div class="col s12"><span class="flow-text"></span>
                <div class="card-panel teal lighten-2"></div>
            </div>
        </div> --}}

        <!-- ROW OF BUTTONS AND SEARCH BAR -->
        <div class="row">
            <div class="col s12">
                <p></p>
                <h1>Archive </h1>
            </div>

             <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#ingredients">Ingredients</a></li>
                        <li class="tab col s3"><a href="#projects">Projects</a></li>
                    </ul>
                </div>

                <div id="ingredients" class="col s12">

                <div style="display: flex; justify-content: flex-end;">
                    <nav style="width: 30%;">
                        <div class="nav-wrapper pink accent-1" >
                            <div class="input-field">
                                <input type="search" id="gsearch" name="gsearch">
                                <label for="search" class="label-icon"> <i class="material-icons">search</i></label>
                                {{!-- <input type="submit"> --}}
                                <i class="material-icons">close</i>
                            </div>
                        </div>
                    </nav>
                </div>

                <div style="text-align:right; margin-top:10px">
                    <button id="clear-search"
                                    name="clear-search" 
                                    onclick="redirectToPage()"
                                    class="btn waves-effect waves-luluble-pink luluble-pink">
                                    Clear Search</button>
                </div>
                <div class="col s12 m6 offset-m3">
                    <p></p>
                </div>
                {{!-- please make a space between clear search and the table --}}

                <script>
                    function redirectToPage() {
                        const clearedUrl = "https://tuluble-production.up.railway.app/archive";
                        const currentUrl = window.location.href;
                        const word = "search"
                        const clear = document.querySelector('#clear-search');

                        if (currentUrl.toString().includes(word)) {
                                window.location.href = clearedUrl;
                        }
                    }
                </script>

                    <script>
                        const search = document.querySelector('#gsearch');

                        let searchBar = document.getElementById('gsearch');
                        let searchButton = document.getElementById('search-button');
                        let searchTerm;

                        search.addEventListener('change', (event) => {
                            searchTerm = searchBar.value.trim();
                            searchBar.value = searchTerm;

                            const stateObj = { url: '/archiveingredient' };
                            const title = '';
                            const newUrl = '/archiveingredient';
                            if (searchTerm.length === 0) {
                                window.location.assign("/archiveingredient");

                            }
                            else {
                                if (window.location.href.indexOf("archiveingredient/") !== -1) {
                                    console.log(searchTerm);
                                    window.location.assign("/archiveingredient/search/" + searchTerm);

                                }
                                else {
                                    console.log("archiveingredient/" + searchTerm);
                                    window.location.assign("/archiveingredient/search/" + searchTerm);

                                }
                            }
                        });
                    </script>

                    {{!-- creates blank space --}}
                    <caption>&nbsp;</caption>

                    {{!-- table with all archived ingredients --}}
                    <table>
                        <thead>
                            <tr id="ing">
                                <th id="inci">INCI Name
                                    {{!-- <span class="large material-icons">import_export</span> --}}
                                    {{!-- <button id="sort-button">Sort Alphabetically</button> --}}
                                    <a id="sort-inci-button" class="waves-effect">
                                        <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                    </a>

                                </th>
                                <th id="trade">Trade Name
                                    {{!-- <span class="large material-icons">import_export</span> --}}
                                    <a id="sort-trade-button" class="waves-effect">
                                        <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                    </a>
                                </th>
                                <th>Amount Available
                                    {{!-- <span class="large material-icons">import_export</span> --}}
                                    <a id="sort-amount-button" class="waves-effect">
                                        <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                    </a>
                                </th>
                                <th id="shelf">Shelf
                                    {{!-- <span class="large material-icons">import_export</span> --}}
                                    {{!-- <a id="sort-shelf-button" class="waves-effect">
                                        <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                    </a> --}}
                                </th>
                                <th id="unarchive">Unarchive</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each results}}
                            <tr>
                                <td>{{this.inci_name}}
                                    <a href="#terms{{ingredient_id}}" class="modal-trigger">
                                        <span class="large material-icons">info_outline</span>
                                    </a>
                                    <div class="modal" id="terms{{ingredient_id}}">
                                        <div class="row">
                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s12"><b><font size="+2">Ingredient Information</font></b></div>
                                            <div class="col s12">&nbsp;</div>
                                            <div class="col s6">
                                                <span><b>Trade Name:</b> {{this.trade_name}}<br></br><b>INCI Name:</b> {{this.inci_name}}<br></br><b>Amount Available:</b> {{this.amt}} {{this.unit}}<b></b><b>Supplier:</b> {{this.supplier}}<br></br><b>TSCA Approved:</b> {{this.tsca_approved}}</span>
                                                {{!-- <span>Ingredient:<br></br>Supplier:<br></br>Trade Name:<br></br>INCI Name:</span> --}}
                                            </div>
                                            <div class="col s6">
                                                {{!-- <span>Lot #:<br></br>Shelf #:<br></br>Amount Received:<br></br>Amount Available:</span> --}}
                                                <span><b>Lot Number:</b> {{this.lot_num}}<br></br><b>Date Receieved:</b> {{formatDate this.date_received}}<br></br><b>Expiration Date:</b> {{formatDate this.expiration}}<br></br><b>COA: </b>Link<br></br><b>MSDS: </b>Link</span>
                                            </div>

                                                <div class="col s12">&nbsp;</div>
                                                <div class="col s12 m6 l3"><p></p></div>
                                                <div class="col s12 m6 l3"><p></p></div>
                                        </div>
                                    </div>

                                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                                    <script
                                        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
                                    <script>
                                        $(document).ready(function () {
                                            $('.modal').modal();
                                        })
                                    </script>


                                </td>

                                <td>{{this.trade_name}}</td>
                                <td>{{this.amt}} {{this.unit}}</td>
                                <td>{{this.shelf}}</td>
                                <td>
                                    <div class="delete_button">
                                        <a href="/unarchive-ingredient/{{this.ingredient_id}}" class="btn waves-effect waves-luluble-pink luluble-pink">Unarchive</a>
                                    </div>
                            </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    </div>
                    <div id="projects" class="col s12">

                        <div style="display: flex; justify-content: flex-end;">
                            <nav style="width: 30%;">
                                <div class="nav-wrapper pink accent-1" >
                                    <div class="input-field">
                                        <input type="search" id="fsearch" name="fsearch">
                                        <label for="search" class="label-icon"> <i class="material-icons">search</i></label>
                                        {{!-- <input type="submit"> --}}
                                        <i class="material-icons">close</i>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div style="text-align:right; margin-top:10px">
                                <button id="clear-search"
                                                name="clear-search" 
                                                onclick="redirectToPage2()"
                                                class="btn waves-effect waves-luluble-pink luluble-pink">
                                                Clear Search</button>
                        </div>

                        <script>
                            function redirectToPage2() {
                                const clearedUrl = "http://localhost:3000/archive";
                                const currentUrl = window.location.href;
                                const word = "search"
                                const clear = document.querySelector('#clear-search');

                                if (currentUrl.toString().includes(word)) {
                                        const newTabURL = clearedUrl + "#projects";
                                        console.log(newTabURL);
                                        window.location.href = newTabURL;
                                }
                            }
                        </script>


                        {{!-- search script for archive projects --}}

                        <script>

                            console.log("HELLOOOOOO");

                            const search2 = document.querySelector('#fsearch');

                            const regex = /^[a-zA-Z0-9\s]*$/;
                            let searchBar2 = document.getElementById('fsearch');
                            let searchButton2 = document.getElementById('search-button');
                            let searchTerm2;
                            const currentURL2 = String(window.location.href);
                            const scientistIDIndex2 = currentURL2.indexOf('/sci/') + 5; // Add 5 to exclude "/sci/"
                            const scientistIDString2 = currentURL2.slice(scientistIDIndex2);
                            let scientistID2 = String(parseInt(scientistIDString2));


                            search2.addEventListener('change', (event) => {
                                console.log("ok")
                                searchTerm2 = searchBar2.value.trim();
                                searchBar2.value = searchTerm2;

                                function validateSearchInput2(input) {
                                    return regex.test(input);
                                }

                                const stateObj2 = { url: '/archiveprojects/sci/' + scientistID2 };
                                const title2 = '';
                                const newUrl2 = '/archiveprojects/sci/' + scientistID2;
                                console.log(window.location.href);

                                // if search invalid
                                if (searchTerm2.length === 0 || !validateSearchInput2(searchTerm2)) {
                                    window.location.assign("/archiveprojects");
                                }
                                else {
                                    if (window.location.href.indexOf("archive/sci/" + scientistID2) !== -1) { // if the URL contains the right URL, search the correct search
                                        window.location.assign("/archiveprojects/sci/" + scientistID2 + "/search/" + searchTerm2);
                                        console.log("no im here.");
                                    }
                                    else {
                                        window.location.assign("/archiveprojects/sci/" + scientistID2 + "/search/" + searchTerm2);
                                        console.log("here!!");
                                    }
                                }
                            });
                        </script>

                        <div class="col s2 m6 l6">
                                    
                            {{#each project_results}}
                                {{!-- <a href="#terms" class="modal-trigger"> --}}
                                    <div class="card luluble-light-pink darken-1">
                                        <div class="card-content white-text">
                                            {{!-- projects/{{this.project_name}} --}}
                                            <span class="card-title"><a style="color: black;"
                                                    href="/projects/{{this.project_id}}"><b>{{this.project_name}}</a></b></span>
                                            <p style="color: black;">Client: {{this.client}}</p>
                                            <p style="color: black;">{{this.date}}</p>
                                            <div class="col s12">&nbsp;</div>
                                            <div class="row">
                                                <div class = "col s12 m4 l4">
                                                    <a href="#terms{{project_id}}" class="modal-trigger">
                                                        <span class="btn-small luluble-light-grey">See More</span>
                                                    </a>
                                                </div>
                                                <div class = "col s12 m4 l2"></div>
                                                    <div class="delete_button">
                                                        <a href="/unarchive-project/{{this.project_id}}" class="btn waves-effect waves-light-grey luluble-light-grey">Unarchive</a>
                                                    </div>
                                    </div>
                            </div>
                            {{!-- </a> --}}

                            <div class="modal" id="terms{{project_id}}">
                                <div class="row">
                                    <div class="col s12">&nbsp;</div>
                                    <div class="col s12"><b><font size="+2">{{this.project_name}}</font></b></div>
                                    <div class="col s12">&nbsp;</div>
                                    <div class="col s6">
                                        <span><b>Client:</b> {{this.client}}<br></br><b>Date:</b> {{formatDate this.date}}</span>
                                    </div>
                                    <div class="col s6">
                                        <span><b>Number of Formulas:</b> 3<br></br><b>Other: </b>Information</span>
                                    </div>
                                    <div class="col s12">&nbsp;</div>
                                    {{!-- <div class="col s12 m6 l3">
                                        <p></p>
                                    </div>
                                    <div class="col s12 m6 l3">
                                        <p></p>
                                    </div> --}}
                
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $('.modal').modal();
                            })
                        </script>

                        <div class="card-action"></div>
                            {{/each}}

                    </div>
                </div>
            
                <script>
                    $(document).ready(function(){
                        $('.tabs').tabs();
                    });

                </script>
            </div>
        </div>
    </div>

</body>
</html>