<!DOCTYPE html>
<html>

    <head>
    {{#each project_data}}
    <title>{{project_name}} Batch Sheet </title>
    {{/each}}

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script>
        Handlebars.registerHelper('eq', function(a, b) {
            return a === b;
        });
    </script>

    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="/partials/color.css">
    <link rel="stylesheet" href="/styles/formula.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

</head>
    <style>
        .container {
        display: flex;
        }

</style>

    <body style="display: flex; flex-direction: column;">
        
    <!-- NAVIGATION SIDEBAR -->
        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

           {{> logout}}
        </div>

        <div id="contentContainer" style="padding: 2% 2% 0% 2%">
        
        <div id = "container1">

            {{#each project_data}}
                    <div>
                        <h1>{{project_name}} Formulas </h1>
                        <a href = "/formulas/{{project_id}}" class="btn waves-effect waves-luluble-pink luluble-pink exclude-pdf">BACK</a>
                        <p>&nbsp;</p>
                        <p><b>Client:</b> {{this.client}}</p>
                        <p><b>Date:</b> {{formatDate this.date}}</p>
                        <p><b>Contact name: </b>{{client_name}}</p>
                        <p><b>Contact email: </b>{{client_email}}</p>
                        <p>&nbsp;</p>
                    </div>
            {{/each}}          
          
        

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

            <script src="/routes/formulas.js"></script>

            <script src="path/to/jspdf.debug.js"></script>
            <script src="path/to/html2canvas.js"></script>

            {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}

            <!-- Include jQuery -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

            <!-- Include jsPDF -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>


    

            <script>
                $(document).ready(function () {
                    $('.modal').modal();
                })
            </script>

            <script>
                let phaseCount = 1;
                document.getElementById("phaseCount").innerHTML = phaseCount;
            </script>


            <style>
                @media (max-width: 992px) {
                .hide-column {
                    display: none;
                }
                }
            </style>

            <script>
                    var elements = document.getElementsByClassName('truncate-decimal');

                    // Loop through each element
                    for (var i = 0; i < elements.length; i++) {
                    var element = elements[i];
                    
                    // Get the text content of the element
                    var text = element.textContent.trim();
                    
                    // Truncate the decimal value to a specified length (e.g., 4)
                    var truncatedText = parseFloat(text).toFixed(4);
                    
                    // Update the element's text content with the truncated value
                    element.textContent = truncatedText;
                    }
            </script>


            <div class="row">
                <div class="bothTables">
                    <div class="col s7 push-s0" style="overflow-x: scroll;"><span>
                        <table class="pdf-table scrollable ingTable responsive-table" style="table-layout: fixed; width: 50%">
                                <tr>
                                    <th style = "width:85px">Phase</th>
                                    <th style = "width: 200px">Trade Name</th>
                                    <th style="width: 200px">INCI</th>
                                    <th style="width: 200px">Supplier</th>
                                    <th style="width: 150px">Lot Number</th>
                                        
                                    <div>
                                        <th class="pdf-only" style="width: 150px; display:none;">Percentage</th>
                                        <th class="pdf-only" style="width: 150px; display:none;">Amount</th>
                                    </div>
                                    
                                </tr>
                            

                                {{#each ing_data}}
                                    <tr style="overflow: scroll; height: 85px">
                                    

                                        <td>{{phase}}</td>
                                        <td>{{trade_name}}</td>
                                        <td>{{inci_name}}</td>
                                        <td>{{supplier}}</td>
                                        <td>{{lot_num}}</td>
                                        {{#each ../ingredient_dict}}
                                        <div>
                                            {{!-- <td class="pdf-only" style="display:none;">{{#each ../ingredient_dict}} {{amount}} {{/each}}</td> --}}
                                            <td id="amountContainer" class="pdf-only ingContainer" style="display:none;">{{percent_of_ingredient}}</td>
                                        </div>
                                        <div>
                                            {{!-- <td class="pdf-only" style="display:none;">{{#each ../ingredient_dict}} {{amount}} {{/each}}</td> --}}
                                            <td id="amountContainer" class="pdf-only ingContainer" style="display:none;">{{amount}}</td>
                                        </div>
                                        {{/each}}
                                    </tr>
                                {{/each}}
                        </table>
                    </div>
                </div>

                <div class="col s5 push-s0 " style="overflow-x: scroll;"><span>
                    <table class = "pdf-table scrollable amtTable" id = "info" style = "width: 60%">
                        <tr>
                            <th>Percentage</th>
                            <th>Amount</th>
                        </tr>
                        {{#each ingredient_dict}}
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                                {{percent_of_ingredient}}
                                <p>&nbsp;</p>
                            </td>
                        
                            <td>
                                <p>&nbsp;</p>
                                <span class="truncate-decimal">{{amount}}</span>
                                <p>&nbsp;</p>
                                </td>
                        </tr>
                        {{/each}}
                    </table> 
                </div>
            </div>
            </div>
       
                <div class="row">

                <div class="exclude-pdf">
                    
                    {{#if messages}}
                    <div style = "position: fixed;top: 60px;right: 20px;">
                        {{#each messages}}
                        <div class = "flash-message" style="background-color: #ffcdd2;padding: 10px;margin-bottom: 10px; border-radius: 5px;box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);word-wrap: break-word;max-width:300px;">
                            <p>{{this}}</p>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}

                    <script>
                        var flashMessages = document.querySelectorAll('.flash-message');
                        flashMessages.forEach(function(flashMessage, index) {
                            setTimeout(function() {
                            flashMessage.style.display = 'none';
                            }, (index + 1) * 5000);
                        });
                    </script>



                    {{#ifBothTrue sufficient formulaComplete}}
                    <div class="row exclude-pdf">
                        <a href="#makeFormulaIngredient" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">MAKE</a>
                    </div>                    
                    {{/ifBothTrue }}
                    </div>

                    <div id="makeFormulaIngredient" class="exclude-pdf modal">
                        <div class="modal-content">
                        <h6>Are you sure you would like to make <b>{{amount}}</b> grams of <b>{{#each project_data}}{{project_name}}{{/each}} Trial {{trial_num}}</b>? </h6>
                        <p>&nbsp;</p>
                        <h8 style="color: red;">Note that these changes CANNOT BE REVERSED.</h8>
                        </div>
                        <div class="modal-footer">
                        <a class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" href="/batchsheet/{{project_id}}/{{trial_num}}/{{amount}}/makeformsubmit">YES</a>
                        </div>
                    </div>

                <button id="convertToPdf" class="btn waves-effect waves-luluble-pink luluble-pink exclude-pdf">Convert to PDF</button>
         </div>    
            <div id = "container2">
                <h2>Procedure </h2>
                <table id="procedure-table" class="sortable">
                    <thead>
                        <tr id = "ing">
                            <th>Phase</th>
                            <th>Procedure</th>
                            <th>Comments/Ingredients</th>
                            <th>Initial Temperature (C)</th>
                            <th>Final Temperature (C)</th>
                            <th>Timing (min)</th>
                            <th>Initial Mixing (rpm)</th>
                            <th>Final Mixing (rpm)</th>
                            <th>Mixer Type</th>
                            <th>Blade</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each procedureData}}
                        <tr>
                            <td>{{phase_num}}</td>
                            <td>{{proc}}</td>
                            <td>{{comments}}</td>
                            <td>{{temp_init}}</td>
                            <td>{{temp_final}}</td>
                            <td>{{timing}}</td>
                            <td>{{mixing_init}}</td>
                            <td>{{mixing_final}}</td>
                            <td>{{mixer_type}}</td>
                            <td>{{blade}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>  
                
                                    

            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

            <script>
                function incrementIndex(index) {
                    return index + 1;
                }
            </script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.0/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>


<script>
  // Attach an event listener to the button
  document.getElementById('convertToPdf').addEventListener('click', function() {
    // Hide all buttons on the page
    var buttons = document.getElementsByClassName('exclude-pdf');
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].style.display = 'none';
    }

    // Select the specific element or container you want to capture as a screenshot
    var elementToCapture1 = document.getElementById('container1');

    // Use html2canvas to take a screenshot of the first selected element
    html2canvas(elementToCapture1).then(function(canvas1) {
      // Convert the first screenshot (canvas1) to an image data URL
      var imageDataURL1 = canvas1.toDataURL();

      // Select the specific element or container you want to capture as a screenshot
      var elementToCapture2 = document.getElementById('container2');

      // Use html2canvas to take a screenshot of the second selected element
      html2canvas(elementToCapture2).then(function(canvas2) {
        // Convert the second screenshot (canvas2) to an image data URL
        var imageDataURL2 = canvas2.toDataURL();

        // Create a PDF document with multiple pages
        var docDefinition = {
          pageOrientation: 'landscape',
          pageSize: 'A4',
          content: [
            {
              image: imageDataURL1,
              width: 900,
              margin: [10, 10, 10, 10]
            },
            {
              image: imageDataURL2,
              width: 750,
              margin: [10, 10, 10, 10]
            }
          ]
        };

        // Generate the PDF from the document definition
        pdfMake.createPdf(docDefinition).download('Batchsheet.pdf');

        // Show the buttons again after taking the screenshots
        for (var i = 0; i < buttons.length; i++) {
          buttons[i].style.display = '';
        }
      });
    });
  });
</script>


        <script>
        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

    
    

                </div>
            </div>
        </div>

    </body>


</html>