<!DOCTYPE html>
<html>

    <head>
        {{#each project_data}}
        <title>{{project_name}} Formulas</title>
        {{/each}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script type="text/javascript" src="/routes/projects.js"></script>

    </head>
    <style>
        .container {
        display: flex;
        }
</style>

    <body style="display: flex; flex-direction: column;">
        <div style="padding: 2% 2% 0% 2%">
        {{> navbar}}

        {{#each project_data}}
            <!-- https://materializecss.com/cards.html -->
                <div>
                    <h1>{{project_name}} Formulas </h1>
                    <h4>Total Amt of Formula: 200g</h4>
                </div>
            {{/each}}
        
                <div class="row">
                <div class="col s6">
                    <ul class="tabs">
                        {{#each formula_data}}
                        <li class="tab col s3"><a href="#trial{{trial_num}}">Trial {{trial_num}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                <div class="col s6">
                    <ul class="tabs">
                        {{#each formula_data}}
                        <li class="tab col s3"><a href="#2trial{{trial_num}}">Trial {{trial_num}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                
                <div class="row">
                <div style="overflow-x: scroll;" id="trial{{trial_num}}" class = "col s12 m4 l6">
                    <table class="scrollable">
                        <tr>
                            <th>Phase</th>
                            <th>Ingredient</th>
                            <th>INCI</th>
                            <th>% of Ingredient</th>
                            <th>Total Amt of Ing</th>
                        </tr>
                        {{#each formula_ingredient_data}}
                            <tr>
                                <td>{{phase}}</td>
                                <td>{{trade_name}}</td>
                                <td>{{inci_name}}</td>
                                <td>{{percent_of_ingredient}}</td>
                                <td>{{total_amount}} {{unit}}</td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
             
        
                
                <div style="overflow-x: scroll;" id="2trial{{trial_num}}" class = "col s12 m4 l6">
                    <table class="scrollable">
                        <tr>
                            <th>Phase</th>
                            <th>Ingredient</th>
                            <th>INCI</th>
                            <th>% of Ingredient</th>
                            <th>Total Amt of Ing</th>
                        </tr>
                            {{#each formula_ingredient_data}}
                            <tr>
                                <td>{{phase}}</td>
                                <td>{{trade_name}}</td>
                                <td>{{inci_name}}</td>
                                <td>{{percent_of_ingredient}}</td>
                                <td>{{total_amount}} {{unit}}</td>
                            </tr>
                            {{/each}}
                    </table>
                </div>

                </div>
                </div>

                <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"> 
                </script>
                <script>
                    $(document).ready(function(){
                        $('.tabs').tabs();
                    });
                </script>
            
                {{!-- trade_name, inci_name, phase, percent_of_ingredient, total_amount, ingredient.ingredient_id, projects.project_name, projects.project_id, projects.client, projects.date --}}


            </div>
            <a href="/projects/create" class="btn-floating btn-large orange fixed-action-btn">
                <i class="large material-icons">create</i>
            </a>
        </div>

       

    </body>

</html>

{{!-- <div style="padding:20px">
    <table>
        <thead>
            <tr>
                <th>ID
                    <span class="large material-icons">import_export</span>
                </th>
                <th>Name
                    <span class="large material-icons">import_export</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {{#each results}}
            <tr>
                <td>{{this.formula_id}}

                </td>

                <td>{{this.test_name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div> --}}