<!DOCTYPE html>
<html>

    <head>
        {{#each project_data}}
        <title>{{project_name}} Formulas</title>
        {{/each}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script type="text/javascript" src="/routes/projects.js"></script>
        <link rel="stylesheet" href="/partials/color.css">

    </head>
    <style>
        .container {
        display: flex;
        }
</style>

    <body style="display: flex; flex-direction: column;">
        
    <!-- NAVIGATION SIDEBAR -->
        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

           {{> logout}}
        </div>

        <div style="padding: 2% 2% 0% 2%">

        {{#each project_data}}
            <!-- https://materializecss.com/cards.html -->
                <div>
                    <h1>{{project_name}} Formulas </h1>
                    <p><b>Client:</b> {{this.client}}</p>
                    <p><b>Date:</b> {{this.date}}</p>
                </div>
        {{/each}}



             <div class="col s12 m4 l2">
            <a href="#open" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add Trial</a>

            <div class="modal" id="open">
                <div style="padding: 5% 5% 5% 5%">
                    {{!-- <b><span>Add a New Ingredient</span></b> --}}
                    <h1 style="font-size:40px;">Add a New Trial</h1>

                    <form method="POST" action="/projects/{{project_id}}/formulaformsubmit">
                        <article class="regular">
                            {{!-- <h2>Textbook</h2> --}}

                            {{!-- Field 1 --}}
                            <b><label for="tuluble">Trial Number:</label></b>
                            <input type="number" name = "userInput1" id="userInput1" placeholder="Enter Trial Number" maxlength="20">
                            <p> </p>

                            {{!-- Field 2 --}}
                            <b><label for="tuluble">Formulator Name:</label></b>
                            <input type="text" name = "userInput2" id="userInput2" placeholder="Enter Formulator Name" maxlength="20">
                            <p> </p>

                            {{!-- Field 3 --}}
                            <b><label for="tuluble">Batch Date:</label></b>
                            <input type="date" name = "userInput3" id="userInput3" placeholder="Enter Batch Date" maxlength="20">
                            <p> </p>

                            <div class="add_button">
                                <button id = "add_button" type="submit">Add Trial</button>
                                {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                            </div>
                            <p> </p>
                        </form>
                    
                
                    </article>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


        {{!-- clicking new ingredient button --}}
        <script>
            $(document).ready(function() {
                $("#add_button").click(function() {
                var inputValue1 = $("#userInput1").val();
                var inputValue2 = $("#userInput2").val();
                var inputValue3 = $("#userInput3").val();

                window.location += "/formulaformsubmit";
                //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('.modal').modal();
            })
        </script>

    <div class="row">
                <div style="overflow-x: scroll;">
                    <table class="scrollable">
                        <tr>
                            <th>Phase</th>
                            <th>Ingredient</th>
                            <th>INCI</th>
                            <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Lot Number</th>
                            {{#each trials}}
                                <th>TRIAL {{trial_num}}</th>
                                <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">% of Ingredient</th>
                                <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Total Amt of Ing</th>
                            {{/each}}
                            </tr>
                        {{#each trialData1}}
                            <p>Batch date: {{batch_date}}</p>
                            <p>Formulator: {{formulator}}</p>
                        {{/each}}
                        {{#each trial_data1}}
                            <p>Total Amt of Formula: {{s}}</p>
                            <p class = "totalPercent">WARNING: Total Percentage = {{percent}}</p>
                        {{/each}}
                            <a href = "/projects/{{project_id}}/procedure{{trial_num1}}">Procedure</a>
                        


                        {{#each formula_ingredient_data1}}
                            <tr>
                                <td>{{phase}}</td>
                                <td>{{trade_name}}</td>
                                <td>{{inci_name}}</td>
                                <td>{{lot_num}}</td>
                                {{#each trials}}
                                    {{!-- get these values for each trial number (if ingredient id does not exist in that trial
                                    then put 0). Write a function for this --}}
                                    <td>{{percent_of_ingredient}}</td>
                                    <td>{{total_amount}}</td>
                                {{/each}}
                            </tr>
                        {{/each}}
                    
                    <td>
                        <div class="col s12 m4 l2">
                        <a href="#openIng" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add Phase</a>

                        <div class="modal" id="openIng">
                            <div style="padding: 5% 5% 5% 5%">
                                {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                <h1 style="font-size:40px;">Add a New Phase</h1>

                                {{!-- somehow get the formula of the tab clicked on --}}
                                
                                <form method="POST" action="/projects/{{project_id}}/{{#each trialData1}}{{formula_id}}{{/each}}/phaseformsubmit">
                                
                                    <article class="regular">
                                        {{!-- <h2>Textbook</h2> --}}

                                        {{!-- Field 1 --}}
                                        <b><label for="tuluble">Phase:</label></b>
                                        <input type="text" name = "userInput1" id="userInput1" placeholder="Enter Phase Name" maxlength="20">
                                        <p> </p>

                                        {{!-- Field 2 --}}
                                        <b><label for="tuluble">Ingredient:</label></b>
                                        {{!-- <input type="text" name = "userInput2" id="userInput2" placeholder="Enter Ingredient Name" maxlength="20"> --}}
                                        <select name="userInput2" id="userInput2" class="browser-default">
                                            <option value="0" disabled selected>Choose your ingredient</option>
                                            {{#each inventory_data}}
                                                <option value="{{ingredient_id}}">{{inci_name}} (LOT {{lot_num}})</option>
                                            {{/each}}
                                        </select>
                                        <p> </p>


                                        <b><label for="tuluble">Percent of Ingredient:</label></b>
                                        <input type="number" name = "userInput3" id="userInput3" placeholder="Enter Percent" maxlength="20">
                                        <p> </p>

                                        <b><label for="tuluble">Total Amount of Ingredient:</label></b>
                                        <input type="number" name = "userInput4" id="userInput4" placeholder="Enter Total Amount" maxlength="20">
                                        <p> </p>

                                        <div class="add_trial_button">
                                            <button id = "add_trial_button" type="submit">Add Ingredient</button>
                                            {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                        </div>
                                        <p> </p>
                                    </form>
                                </article>
                            </div>
                        </div>
                        </div>
                    </td>
                    
                    <td>
                        <div class="col s12 m4 l2">
                        <a href="#makeTrial" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">MAKE TRIAL</a>
                        <div class="modal" id="makeTrial">
                            <div style="padding: 5% 5% 5% 5%">
                                {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                <h1 style="font-size:40px;">Make Trial</h1>

                                {{!-- somehow get the formula of the tab clicked on --}}
                                <form method="POST" action="/projects/{{project_id}}/trial{{trial_num1}}/makeformsubmit">
                                    <article class="regular">
                                        {{!-- <h2>Textbook</h2> --}}

                                        {{!-- Field 1 --}}
                                        {{!-- <b><label for="tuluble">Quantity ({{unit}}):</label></b>
                                        <input type="range" min = "0" max = "100" name = "userInput1" id="userInput1">
                                        <p> </p> --}}
                                        {{!-- USE MATH IN SQL TO FIND MAX VAL --}}
                                        <b><label for="tuluble">Trial:</label></b>
                                        <input type="number" name = "userInput1" id="userInput1">
                                        <p> </p>

                                        <b><label for="tuluble">Quantity {{unit}}:</label></b>
                                        <input type="number" name = "userInput2" id="userInput2">
                                        <p> </p>

                                       
                                        <div class="make_trial_button">
                                            <button id = "make_trial_button" type="submit">Make Trial</button>
                                            {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                        </div>
                                        <p> </p>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </td>

                    </table>
                </div>
            </div>

    </body>


</html>