<!DOCTYPE html>
<html>

    <head>
    {{#each project_data}}
    <title>{{project_name}} Formulas</title>
    {{/each}}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script>
        Handlebars.registerHelper('eq', function(a, b) {
            return a === b;
        });
    </script>

    {{!-- <script type="text/javascript" src="/routes/projects.js"></script> --}}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="/partials/color.css">
    
</head>
    <style>
        .container {
        display: flex;
        }
</style>

    <body style="display: flex; flex-direction: column;">
        
    <!-- NAVIGATION SIDEBAR -->
        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

           {{> logout}}
        </div>

        <div style="padding: 2% 2% 0% 2%">

        {{#each project_data}}
            <!-- https://materializecss.com/cards.html -->
                <div>
                    <h1>{{project_name}} Formulas </h1>
                    <p><b>Client:</b> {{this.client}}</p>
                    <p><b>Date:</b> {{this.date}}</p>
                </div>
        {{/each}}



             <div class="col s12 m4 l2">
            <a href="#open" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add Trial</a>

            <div class="modal" id="open">
                <div style="padding: 5% 5% 5% 5%">
                    {{!-- <b><span>Add a New Ingredient</span></b> --}}
                    <h1 style="font-size:40px;">Add a New Trial</h1>

                    <form method="POST" action="/projects/{{project_id}}/formulaformsubmit">
                        <article class="regular">
                            {{!-- <h2>Textbook</h2> --}}

                            {{!-- Field 1 --}}
                            <b><label for="tuluble">Trial Number:</label></b>
                            <input type="number" name = "userInput1" id="userInput1" placeholder="Enter Trial Number" maxlength="20">
                            <p> </p>

                            {{!-- Field 2 --}}
                            <b><label for="tuluble">Formulator Name:</label></b>
                            <input type="text" name = "userInput2" id="userInput2" placeholder="Enter Formulator Name" maxlength="20">
                            <p> </p>

                            {{!-- Field 3 --}}
                            <b><label for="tuluble">Batch Date:</label></b>
                            <input type="date" name = "userInput3" id="userInput3" placeholder="Enter Batch Date" maxlength="20">
                            <p> </p>

                            <div class="add_button">
                                <button id = "add_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Add Trial</button>
                                {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                            </div>
                            <p> </p>
                        </form>
                    
                
                    </article>
                </div>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

        <script src="/routes/formulas.js"></script>


        {{!-- clicking new ingredient button --}}
        <script>
            $(document).ready(function() {
                $("#add_button").click(function() {
                var inputValue1 = $("#userInput1").val();
                var inputValue2 = $("#userInput2").val();
                var inputValue3 = $("#userInput3").val();

                window.location += "/formulaformsubmit";
                //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('.modal').modal();
            })
        </script>


            <div class="row">
                <div style="overflow-x: scroll;" class = "col s12 m4 l6">
                    <table class="scrollable">
                        <tr>
                            <th>Phase</th>
                            <th>Ingredient</th>
                            <th>INCI</th>
                            <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Lot Number</th>
                            
                            </tr>
                        {{!-- {{#each trialData1}}
                            <p>Batch date: {{batch_date}}</p>
                            <p>Formulator: {{formulator}}</p>
                        {{/each}}
                        {{#each trial_data1}}
                            <p>Total Amt of Formula: {{s}}</p>
                            <p class = "totalPercent">WARNING: Total Percentage = {{percent}}</p>
                        {{/each}} --}}
                            <a href = "/projects/{{project_id}}/procedure">Procedure</a>
                        


                        {{#each ing_data}}
                            <tr>
                                <td>{{phase}}</td>
                                <td>{{trade_name}}</td>
                                <td>{{inci_name}}</td>
                                <td>{{lot_num}}</td>
                                {{#each trials}}
                                    {{!-- get these values for each trial number (if ingredient id does not exist in that trial
                                    then put 0). Write a function for this --}}
                                    {{!-- <td>{{percent_of_ingredient}}</td>
                                    <td>{{total_amount}}</td> --}}
                                {{/each}}
                            </tr>
                        {{/each}}

                    <td>
                        <div class="col s12 m4 l2">
                        <a href="#openIng" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add Phase</a>

                        <div class="modal" id="openIng">
                            <div style="padding: 5% 5% 5% 5%">
                                {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                <h1 style="font-size:40px;">Add a New Phase</h1>

                                {{!-- somehow get the formula of the tab clicked on --}}
                                
                                {{!-- {{#each trialData1}}{{formula_id}}{{/each}} --}}
                                <form method="POST" action="/projects/{{project_id}}/phaseformsubmit">
                                
                                    <article class="regular">
                                        <b><label for="tuluble">Trial:</label></b>
                                        <input type="number" name = "userInput0" id="userInput0" placeholder="Enter Trial Number" maxlength="20">
                                        <p> </p>

                                        {{!-- Field 1 --}}
                                        <b><label for="tuluble">Phase:</label></b>
                                        <input type="text" name = "userInput1" id="userInput1" placeholder="Enter Phase Name" maxlength="20">
                                        <p> </p>

                                        {{!-- Field 2 --}}
                                        <b><label for="tuluble">Ingredient:</label></b>
                                        {{!-- <input type="text" name = "userInput2" id="userInput2" placeholder="Enter Ingredient Name" maxlength="20"> --}}
                                        <select name="userInput2" id="userInput2" class="browser-default">
                                            <option value="0" disabled selected>Choose your ingredient</option>
                                            {{#each inventory_data}}
                                                <option value="{{ingredient_id}}">{{inci_name}} (LOT {{lot_num}})</option>
                                            {{/each}}
                                        </select>
                                        <p> </p>

 
                                        <b><label for="tuluble">Percent of Ingredient:</label></b>
                                        <input type="number" name = "userInput3" id="userInput3" placeholder="Enter Percent" maxlength="20">
                                        <p> </p>

                                        <b><label for="tuluble">Total Amount of Ingredient:</label></b>
                                        <input type="number" name = "userInput4" id="userInput4" placeholder="Enter Total Amount" maxlength="20">
                                        <p> </p>

                                        <div class="add_trial_button">
                                            <button id = "add_trial_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Add Ingredient</button>
                                            {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                        </div>
                                        <p> </p>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </td>
                    </div>

                    <script>
                        $(document).ready(function() {
                            $("#add_trial_button").click(function() {
                            var inputValue0 = $("#userInput0").val();
                            var inputValue1 = $("#userInput1").val();
                            var inputValue2 = $("#userInput2").val();
                            var inputValue3 = $("#userInput3").val();
                            var inputValue4 = $("#userInput4").val();

                            window.location.href += "/phaseformsubmit";
                            //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                            });
                        });
                    </script>
                    
                    <td>
                        <div class="col s12 m4 l2">
                        <a href="#makeTrial" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">MAKE TRIAL</a>
                        <div class="modal" id="makeTrial">
                            <div style="padding: 5% 5% 5% 5%">
                                {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                <h1 style="font-size:40px;">Make Trial</h1>

                                {{!-- somehow get the formula of the tab clicked on --}}
                                <form method="POST" action="/projects/{{project_id}}/trial{{trial_num1}}/makeformsubmit">
                                    <article class="regular">
                                        {{!-- <h2>Textbook</h2> --}}

                                        {{!-- Field 1 --}}
                                        {{!-- <b><label for="tuluble">Quantity ({{unit}}):</label></b>
                                        <input type="range" min = "0" max = "100" name = "userInput1" id="userInput1">
                                        <p> </p> --}}
                                        {{!-- USE MATH IN SQL TO FIND MAX VAL --}}
                                        <b><label for="tuluble">Trial:</label></b>
                                        <input type="number" name = "userInput1" id="userInput1">
                                        <p> </p>

                                        <b><label for="tuluble">Quantity {{unit}}:</label></b>
                                        <input type="number" name = "userInput2" id="userInput2">
                                        <p> </p>

                                       
                                        <div class="make_trial_button">
                                            <button id = "make_trial_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Make Trial</button>
                                            {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                        </div>
                                        <p> </p>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </td>
                    </div>

                    </table>

                </div>

                    {{!-- PRINTING DOESN'T WORK RIGHT NOW, BUTTON GIVES ERROR --}}
                    {{!-- <a href = "/projects/{{project_id}}/procedure"> _</a> --}}
                    <p>&nbsp;</p>

                   

                    <div style="overflow-x: scroll;" class = "col s12 m4 l6">
                        <table class = "scrollable" id = "info">
                                {{!-- {{#each trial_data}}
                                <th>Trial {{this.trial_num}}</th>
                                <ul>
                                    {{#each this.ing_data}}
                                    <li>Percent: {{this.ingredient_id.percent}}, Amount: {{this.ingredient_id.amount}}</li>
                                    {{/each}}
                                </ul>
                                {{/each}} --}}

                            {{!-- <tr>

                                {{#each trial_data}}
                                    <th colspan = "2" style = "text-align: center">TRIAL {{trial_num}}</th>
                                {{/each}}
                            </tr>
                            <tr>
                                {{#each trial_data}}
                                    <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">% of Ingredient</th>
                                    <th style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Total Amt of Ing</th>
                                {{/each}}
                            </tr>  --}}


                           
                                                        
                                {{!-- {{#each trial_data}}
                                    <td>hello1</td>
                                    <td>hello2</td>
                                {{/each}} --}}

                            

                                    {{!-- {{#each results}}
                                        <tr>
                                            <td>p{{percent_of_ingredient}}</td>
                                            <td>t{{total_amount}}</td>
                                        </tr>
                                    {{/each}} --}}
                        </table>
                        
                    </div>
                </div>

                <script>
                    const ingredient1 = [  [1, 9, 10] ,  [2, 1, 0] , [], [4, 90, 120]];
                    const ingredient2 = [  [1, 9, 10] ,  [] , [], [4, 90, 120]];
                    {{!-- const ingredients = {{ingredient_dict}}; --}}
                    {{!-- const ingredients = [ingredient1, ingredient2]; --}}
                    {{!-- console.log(ingredients); --}}
                    const trial_data = {{trial_data}};
                    $("#info").append("<tr>");
                    for (let i = 1; i < trial_data.length+1; i++) {
                        {{!-- $("#info").append("<tr>");
                        $("#info").append("<th >Trial "+i+"</th>"); --}}
                        $("#info").append("<th style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\">Trial "+i+" Amount </th>");
                        $("#info").append("<th style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\">Trial "+i+" Percentage</th>");
                    }
                    $("#info").append("</tr>");
                    
                    
                    {{!-- for (let i = 0; i < ingredients.length; i++) {
                        $("#info").append("<tr>");
                        for (let j = 0; j < ingredients[i].length; j++) {
                            for (let key in ingredients[i][j]) {
                                $("#info").append("<td style=\"padding:20px; text-align:center\">" + ingredients[i][j][key] + "</td>");
                            }
                        }
                        $("#info").append("</tr>");
                    } --}}
                    {{!-- for (let ingredient of ingredients){
                        $("#info").append("<tr>");
                        for (let trial = 0; trial < ingredient.length; trial++) {
                            if (ingredient[trial].length === 0) {
                                console.log("empty");
                                $("#info").append("<td style=\"padding:20px; text-align:center\"></td>");
                                $("#info").append("<td style=\"padding:20px; text-align:center\"></td>");
                            }
                            else {
                                console.log(ingredient[trial][1]);
                                console.log(ingredient[trial][2]);
                                $("#info").append("<td style=\"padding:20px; text-align:center\">" + ingredient[trial][1] + "</td>");
                                $("#info").append("<td style=\"padding:20px; text-align:center\">" + ingredient[trial][2] + "</td>");
                            }

                            {{!-- $("#info").append("<tr>");
                            for (let key in ingredient[i]) {
                                if (ingredient)
                                $("#info").append("<td style=\"padding:20px; text-align:center\">" + ingredient[i][1] + "</td>");
                                $("#info").append("<td style=\"padding:20px; text-align:center\">" + ingredient[i][2] + "</td>");
                            }  --}}
                        }
                        $("#info").append("</tr>");
                    }; --}}
                    
                   
                    
                    

                                        
                    {{!-- for (let i = 0; i < 7; i++)
                    if ((i%2) == 0){
                        $("#info").append("<tr>");
                        $("#info").append("<td>"+i+"hi</td>");
                        $("#info").append("<td>"+i+"bye</td>");
                        $("#info").append("</tr>");



                    }
                    else{
                        $("#info").append("<tr>");
                        $("#info").append("<td></td>");
                        $("#info").append("<td></td>");
                        $("#info").append("</tr>");
                    }
                        $("#info").append("<tr>");
                        $("#info").append("<td>New Row</td>");
                        $("#info").append("</tr>"); --}}
                    
                    for(var trial_num in trial_data)
                        {
                            for(var ingredient in ing_data)
                            {
                                $("#info").append("<tr>");
                                if(ingredient.trialnum == ingredient.trialnum){ $("#info").append("<td>hi</td>");}
                                else {$("#info").append("<td></td>");}

                            }
                        }
                </script>

                    <!-- Add the jsPDF library script tag -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>

                    <!-- Define the printing2() function after the jsPDF library is loaded -->
                    {{!-- <script>
                    function printing2() {
                        console.log("PRINTING ATTEMPT2")

                        // Create a new jsPDF instance
                        var doc = new jsPDF();
                    
                        // Define the table columns and rows
                        var columns = ["Name", "Country", "Population"];
                        var rows = [
                        ["China", "Asia", "1,439,323,776"],
                        ["India", "Asia", "1,380,004,385"],
                        ["United States", "North America", "331,002,651"],
                        ["Indonesia", "Asia", "273,523,615"],
                        ["Pakistan", "Asia", "220,892,340"]
                        ];
                    
                        // Call the autoTable function to generate the table
                        doc.autoTable(columns, rows);
                    
                        // Save the PDF
                        doc.save("table.pdf");
                    }
                    </script> --}}

                    <!-- Call the printing2() function when the button is clicked -->
                    {{!-- <button onclick="printing2()" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Print</button> --}}


                </div>
            </div>
{{!-- 
    {{#each trial_data}}
        <script>
            function loadSection1Data() {
            // make an AJAX request to the server to retrieve data for section1
            // define the SQL query to retrieve the specific data required for section1

            // update the HTML content of section1 with the retrieved data
            document.getElementById("section1").innerHTML = "<p>Section 1 Data</p>";
            }

            function loadSection2Data() {
            // make an AJAX request to the server to retrieve data for section2
            // define the SQL query to retrieve the specific data required for section2

            // update the HTML content of section2 with the retrieved data
            document.getElementById("section2").innerHTML = "<p>Section 2 Data</p>";
            }

            // call each function to load the data for the corresponding section when the page loads
            loadSection1Data();
            loadSection2Data();
        </script>
    {{#each}} --}}
    </body>


</html>