<!DOCTYPE html>
<html>

    <head>
        <title>Formulas</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script type="text/javascript" src="/routes/projects.js"></script>

    </head>
    <style>
        .container {
        display: flex;
        }
</style>

    <body style="display: flex; flex-direction: column;">
        <div style="padding: 2% 2% 0% 2%">
                <!-- NAVIGATION SIDEBAR -->
            <div >
                <ul class="sidenav" id="mysidenav">
                    <li>
                        <div class="user-view">
                            <div class="background">
                                <img src="./views/luluble_hlogo.jpg" style="height:250px;" alt="">
                            </div>
                            
                            <span style="color:#000000" class="large material-icons">local_florist
                            </span>
                            <span style="color:#25b5af"><b><font size="+2">&nbsp;tuluble database</font></b></span>
                            
                            <a href="#" data-target="side_nav"></a>
                            {{!-- <a href="#email"><span class="email white-text">web@gmail.com</span></a> --}}
                        </div>
                    </li>
                    <li><a href="/"><i class="material-icons">home</i>Index Page</a></li>
                    <li><a href="/inventory"><i class="material-icons">book</i>Inventory</a></li>
                    <li><a href="/projects"><i class="material-icons">import_contacts</i>Projects</a></li>
                    <li><a href="/archive"><i class="material-icons">archive</i>Archive</a></li>

                    {{!-- <li><a href="#"><i class="material-icons">create</i>Other</a></li> --}}
                </ul>

                {{!-- <a href="#" data-target="mysidenav" class="btn sidenav-trigger">Sidenav</a> --}}

                <a href="#" data-target="mysidenav" class="btn sidenav-trigger">
                    <i class="material-icons">menu</i>
                    <span class="blue-text text-darken-2"></span>
                </a>

                <!-- NAVIGATION SIDEBAR (location to put icon NEXT to the sidebar lines) -->
                {{!-- <div class="col s6">
                    <img src="/luluble_hlogo.jpg" class="responsive-img">
                </div> --}}
                {{!-- <span style="color:#000000" class="large material-icons">local_florist</span> --}}

                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var side = document.querySelectorAll('.sidenav');
                        M.Sidenav.init(side)
                    })
                </script>
            </div>

            {{#with project_data}}
            <!-- https://materializecss.com/cards.html -->
                <div>
                    <h1>{{formula.formula_id}}</h1>
                    <h1>{{projects.project_name}} Formulas </h1>
                    <h4>Total Amt of Formula: 200g</h4>
                </div>
            {{/with}}

            {{#each formula_data}}
                <div>
                    <p>Trial {{formulas.trial_num}}</p>
                    <p>{{ingredient.trade_name}}</p>
                </div>

{{!-- trade_name, inci_name, phase, percent_of_ingredient, total_amount, ingredient.ingredient_id, projects.project_name, projects.project_id, projects.client, projects.date --}}


                {{!-- Nice side by side formatting --}}
                {{!-- <div>
                    <div class = "row">
                    <form action="#">
                        <div  class = "col s2">
                        <p>
                        <label>
                            <input type="checkbox" />
                            <span>Formula 1</span>
                        </label>
                        </p>    
                        </div>
                        <div  class = "col s2">
                        <p>
                        <label>
                            <input type="checkbox" />
                            <span>Formula 2</span>
                        </label>
                        </p>    
                        </div>
                        <div  class = "col s2">
                        <p>
                        <label>
                            <input type="checkbox" />
                            <span>Formula 3</span>
                        </label>
                        </p>    
                        </div>
                        <div  class = "col s2">
                        <p>
                        <label>
                            <input type="checkbox" />
                            <span>Formula 4</span>
                        </label>
                        </p>    
                        </div>      
                    </form>         
                    </div>
                </div>
                    <div class = "row">
                        <div class="col s6"> 
                            <p>Formula 3</p>
                            <table>
                            <tr>
                                <th>Phase</th>
                                <th>Ingredient Name</th>
                                <th>INCI</th>
                                <th>% of Ingredient</th>
                                <th>Total Amount of Ingredient (g)</th>
                            </tr>
                            <tr>
                                <td>Water 1</td>
                                <td>Trade name 1</td>
                                <td>INCI 1</td>
                                <td>47.30</td>
                                <td>94.6</td>
                            </tr>
                            <tr>
                                <td>Water 1</td>
                                <td>Trade name 1</td>
                                <td>INCI 1</td>
                                <td>47.30</td>
                                <td>94.6</td>
                            </tr>
                            </table>
                        </div>
                        <div class = "col s6"> 
                            <p>Formula 4</p>
                            <table>
                            <tr>
                                <th>Phase</th>
                                <th>Ingredient Name</th>
                                <th>INCI</th>
                                <th>% of Ingredient</th>
                                <th>Total Amount of Ingredient (g)</th>
                            </tr>
                            <tr>
                                <td>Water 1</td>
                                <td>Trade name 1</td>
                                <td>INCI 1</td>
                                <td>47.30</td>
                                <td>94.6</td>
                            </tr>
                            <tr>
                                <td>Water 1</td>
                                <td>Trade name 1</td>
                                <td>INCI 1</td>
                                <td>47.30</td>
                                <td>94.6</td>
                            </tr>
                            </table>
                        </div>
                     </div> --}}
            {{/each}}


            </div>
            <a href="/projects/create" class="btn-floating btn-large orange fixed-action-btn">
                <i class="large material-icons">create</i>
            </a>
        </div>
    </body>

</html>

{{!-- <div style="padding:20px">
    <table>
        <thead>
            <tr>
                <th>ID
                    <span class="large material-icons">import_export</span>
                </th>
                <th>Name
                    <span class="large material-icons">import_export</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {{#each results}}
            <tr>
                <td>{{this.formula_id}}

                </td>

                <td>{{this.test_name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div> --}}