<!DOCTYPE html>
<html>

    <head>
    {{#each project_data}}
    <title>{{project_name}} Formulas</title>
    {{/each}}

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script>
        Handlebars.registerHelper('eq', function(a, b) {
            return a === b;
        });
    </script>

    {{!-- <script type="text/javascript" src="/routes/projects.js"></script> --}}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="/partials/color.css">
    
</head>
    <style>
        .container {
        display: flex;
        }

</style>

    <body style="display: flex; flex-direction: column;">
        
    <!-- NAVIGATION SIDEBAR -->
        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

           {{> logout}}
        </div>

        <div style="padding: 2% 2% 0% 2%">

        {{#each project_data}}
            <!-- https://materializecss.com/cards.html -->
                <div>
                    <h1>{{project_name}} Formulas </h1>
                    <p><b>Client:</b> {{this.client}}</p>
                    <p><b>Date:</b> {{formatDate this.date}}</p>
                    <p><b>Contact name: </b>{{client_name}}</p>
                    <p><b>Contact email: </b>{{client_email}}</p>
                </div>
        {{/each}}


            <p> &nbsp;</p>
            <div class="row"> 
                <div class="col s1">
                    <a href="#open" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add Trial</a>
                </div>

                <div class="col s2">
                    <button onclick="location.href = '/procedure/{{project_id}}';" id="create-pdf-button" name="create-pdf-button" class="btn waves-effect waves-luluble-pink luluble-pink">Procedure</button>
                </div>

                <p> &nbsp;</p>
            </div>

            <div class="col s12 m4 l2">

            {{#if messages}}
            <div style = "position: fixed;top: 60px;right: 20px;">
                {{#each messages}}
                <div class = "flash-message" style="background-color: #c8e6c9;padding: 10px;margin-bottom: 10px; border-radius: 5px;box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                    <p>{{this}}</p>
                </div>
                {{/each}}
            </div>
            {{/if}}

            <script>
                var flashMessages = document.querySelectorAll('.flash-message');
                flashMessages.forEach(function(flashMessage, index) {
                    setTimeout(function() {
                    flashMessage.style.display = 'none';
                    }, (index + 1) * 5000);
                });
            </script>

           

            <div class="modal" id="open">
                <div style="padding: 5% 5% 5% 5%">
                    {{!-- <b><span>Add a New Ingredient</span></b> --}}
                    <h1 style="font-size:40px;">Add a New Trial</h1>

                    <form method="POST" action="/formulas/{{project_id}}/formulaformsubmit">
                        <article class="regular">
                            {{!-- <h2>Textbook</h2> --}}

                            {{!-- Field 1 --}}
                            <b><label for="tuluble">Trial Number:</label></b>
                            <input type="number" name = "userInput1" id="userInput1" placeholder="Enter Trial Number" maxlength="20">
                            <p> </p>

                            {{!-- Field 2 --}}
                            <b><label for="tuluble">Formulator Name:</label></b>
                            <input type="text" name = "userInput2" id="userInput2" placeholder="Enter Formulator Name" maxlength="20">
                            <p> </p>

                            {{!-- Field 3 --}}
                            <b><label for="tuluble">Batch Date:</label></b>
                            <input type="date" name = "userInput3" id="userInput3" placeholder="Enter Batch Date" maxlength="20">
                            <p> </p>

                            <div class="add_button">
                                <button id = "add_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Add Trial</button>
                                {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                            </div>
                            <p> </p>
                        </form>
                    
                
                    </article>
                </div>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

        <script src="/routes/formulas.js"></script>


        {{!-- clicking new ingredient button --}}
        <script>
            $(document).ready(function() {
                $("#add_button").click(function() {
                var inputValue1 = $("#userInput1").val();
                var inputValue2 = $("#userInput2").val();
                var inputValue3 = $("#userInput3").val();

                window.location += "/formulaformsubmit";
                //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('.modal').modal();
            })
        </script>


            <div class="row">
                <div style="overflow-x: scroll; display: flex;" >
                    <table class="table1 scrollable" style="table-layout: fixed; width: 50%">
                        <tr>
                            <th style="width: 85px; height: 30px;">Delete</th>
                            <th style = "width:85px">Phase</th>
                            {{#if isAdmin}}
                            <th style = "width: 200px">Trade Name</th>
                            <th style="width: 200px">INCI</th>
                            {{else}}
                            <th style="width: 200px">Encoding</th>
                            {{/if}}
                            <th style="width: 200px">Supplier</th>
                            <th style="width: 150px">Lot Number</th>
                            
                            </tr>
                        
                        {{#each ing_data}}
                            <tr style="overflow: scroll; height: 85px">
                                <td class="right-align">
                                    <a href="#deleteFormulaIngredient{{ingredient_id}}" class="material-icons modal-trigger">delete</a>

                                    <div id="deleteFormulaIngredient{{ingredient_id}}" class="modal">
                                        <div class="modal-content left-align">
                                        <h6>Are you sure you would like to delete this ingredient?</h6>
                                        </div>
                                        <div class="modal-footer">
                                        <a class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" href="/formulas/{{../project_id}}/deleteFormulaIngredient/{{ingredient_id}}">YES</a>
                                        </div>
                                    </div>

                                </td>
                                <td>{{phase}}</td>
                                {{#if ../isAdmin}}
                                <td>{{trade_name}}</td>
                                <td>{{inci_name}}</td>
                                {{else}}
                                <td>{{encoding}}</td>
                                {{/if}}
                                <td>{{supplier}}</td>
                                <td>{{lot_num}}</td>
                               
                            </tr>
                        {{/each}}

                    <td colspan = 2>
                        <div class="col s12 m4 l2">
                        <a href="#openIng" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add Phase</a>

                        <div class="modal" id="openIng">
                            <div style="padding: 5% 5% 5% 5%">
                                {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                <h1 style="font-size:40px;">Add a New Phase</h1>

                                {{!-- somehow get the formula of the tab clicked on --}}
                                
                                {{!-- {{#each trialData1}}{{formula_id}}{{/each}} --}}
                                <form method="POST" action="/formulas/{{project_id}}/phaseformsubmit">
                                
                                    <article class="regular">
                                        <b><label for="tuluble">Trial:</label></b>
                                        <select name="userInput0" id="userInput0" class="browser-default">
                                            <option value="0" disabled selected>Select a trial</option>
                                            {{#each trialData}}
                                                <option value="{{trial_num}}">{{trial_num}}</option>
                                            {{/each}}
                                        </select>
                                        <p> </p>

                                        {{!-- Field 1 --}}
                                        <b><label for="tuluble">Phase:</label></b>
                                        <input type="number" name = "userInput1" id="userInput1" placeholder="Enter Phase Number" maxlength="20">
                                        <p> </p>

                                        {{!-- Field 2 --}}
                                        <b><label for="tuluble">Ingredient:</label></b>
                                        {{!-- <input type="text" name = "userInput2" id="userInput2" placeholder="Enter Ingredient Name" maxlength="20"> --}}
                                        <select name="userInput2" id="userInput2" class="browser-default">
                                            <option value="0" disabled selected>Choose your ingredient</option>
                                            {{#each inventory_data}}
                                                <option value="{{ingredient_id}}">{{inci_name}} (LOT {{lot_num}})</option>
                                            {{/each}}
                                        </select>
                                        <p> </p>

 
                                        <b><label for="tuluble">Percent of Ingredient:</label></b>
                                        <input type="number" name = "userInput3" id="userInput3" placeholder="Enter Percent" maxlength="20" step="0.01">
                                        <p> </p>


                                        <div class="add_trial_button">
                                            <button id = "add_trial_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Add Ingredient</button>
                                            {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                        </div>
                                        <p> </p>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </td>
                    <td colspan = 2>
                    <div class="col s12 m4 l2">
                        <a href="#makeTrial" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">BATCH TRIAL</a>
                        <div class="modal" id="makeTrial">
                            <div style="padding: 5% 5% 5% 5%">
                                {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                <h1 style="font-size:40px;">Make Trial</h1>

                                {{!-- somehow get the formula of the tab clicked on --}}
                    

                                <form method="POST" action="/formulas/{{project_id}}/batchformsubmit">
                                    <article class="regular">
                                        <b><label for="tuluble">Trial:</label></b>
                                        <input type="number" name = "userInput1T" id="userInput1T">
                                        <p> </p>

                                        <b><label for="tuluble">Quantity (g):</label></b>
                                        <input type="number" name = "userInput2T" id="userInput2T">
                                        <p> </p>

                                       
                                        <div class="make_trial_button">
                                            <button id = "make_trial_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">BATCH</button>
                                            {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                        </div>
                                        <p> </p>
                                    </article>
                                  </form>
                            </div>
                        </div>
                        </div>
                    </td>
                    </div>

                    {{#each trialData}}
                    <div class="modal" id="approveTrial{{trial_num}}">
                        <div style="padding: 5% 5% 5% 5%">
                            <h6>Are you sure you would like to approve Trial {{trial_num}} as the final formulation for {{#each ../project_data}}{{project_name}}{{/each}}?</h6>
                            </div>
                            <div class="modal-footer">
                            <a class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" href="/formulas/{{../project_id}}/approveTrial/{{trial_num}}">YES</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    <script>
                        $(document).ready(function() {
                            $("#add_trial_button").click(function() {
                            var inputValue0 = $("#userInput0").val();
                            var inputValue1 = $("#userInput1").val();
                            var inputValue2 = $("#userInput2").val();
                            var inputValue3 = $("#userInput3").val();

                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function() {
                            $("#make_trial_button").click(function() {
                                console.log("TEST");
                            var trial_num = $("#userInput1T").val();
                            var quantity = $("#userInput2T").val();
                           
                            });
                        });
                    </script>
                    
                    
                        
                    </div>

                    <script>
                    
                    </script>
                 
                    </table>
                    <div style="overflow-x: scroll; display: flex; float: right">
                        <table class = "scrollable" id = "info" style = "width: 100%">
                                
                           
                        </table> 
                    </div>
                    

                </div>
                    <p>&nbsp;</p>

                   

                    
            </div>

            <style>
                .table-icon {
                    vertical-align: middle;
                }
                </style>

                <script>
                  
                    
                    // var ingredientsJSON = JSON.stringify({{ingredient_dict}});
                    const ingredients = JSON.parse('{{{ingredient_dict}}}');
                    const editable = JSON.parse('{{{editable_dict}}}');
                    const approved = JSON.parse('{{{approved_dict}}}');
                    const trialDataJSON = JSON.parse('{{{trialDataJSON}}}');

                  
                    const trial_data = {{trial_data}};

                
                    $("#info").append("<tr>");


                        
                    
                    console.log("TRIAL TRIAL DATA DATA ");
                    if (trial_data == 0){
                        $("#info").append("<th style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\">Add a Trial!</th>");

                    }
                    for (let i = 0; i < trial_data; i++) {
                        console.log(i);
                        console.log(trial_data[i]);

                        if (approved[i] == '1') {
                            $("#info").append("<th style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 10px; border: 1px solid black;\" class = \"green lighten-4\">Trial " + trialDataJSON[i].trial_num + " Percentage <a href= '/formulas/{{project_id}}/removeTrialApproval/" + trialDataJSON[i].trial_num + "' class='material-icons modal-trigger'>close</a> </th>");
                        }
                        else {
                            $("#info").append("<th style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 10px\">Trial " + trialDataJSON[i].trial_num + " Percentage <a href= '#approveTrial" + trialDataJSON[i].trial_num + "' class='material-icons table-icon modal-trigger'>check</a> </th>");
                        }
                    }
                    $("#info").append("</tr>")
                    
                   
                   console.log(ingredients);
                    
                    for(let ing = 0; ing < ingredients.length; ing++) {
                            $("#info").append("<tr >");
                            for(let trial = 0; trial < ingredients[ing].length; trial++)
                            {
                                // console.log(ingredients[ing][trial][0].trial_num);
                                if (ingredients[ing][trial].length !== 0){
                                    console.log(editable[ing][trial]);
                                    if (approved[trial] == '1') {
                                        $("#info").append("<td class = \"green lighten-4\" style=\"height: 85px; border: 1px solid black;\"id = 'trial" + trialDataJSON[trial].trial_num  + "/ingredient" + ingredients[ing][trial][0]['ingredient_id'] +  "' contenteditable='" + editable[ing][trial] + "' style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 20px;\">"+ingredients[ing][trial][0]['percent_of_ingredient']+"</td>");
                                    }
                                    else {
                                        $("#info").append("<td style=\"height: 85px\"id = 'trial" + trialDataJSON[trial].trial_num + "/ingredient" + ingredients[ing][trial][0]['ingredient_id'] + "' contenteditable='" + editable[ing][trial] + "' style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 20px;\">"+ingredients[ing][trial][0]['percent_of_ingredient']+"</td>");    
                                    }
                                }
                                // ELSE SHOULD NEVER BE REACHED
                                else {
                                    $("#info").append("<td id = 'trial" + (trial+1) + "/ingredient" + ingredients[ing][trial][0]['ingredient_id'] + "/phase" + ingredients[ing][trial][0]['phase'] + "' contenteditable='true' style-\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 20px;\"></td>");
                                }

                               
                            }
                            $("#info").append("</tr>");
                          
                    }
                      
                    $("#info").append("<tr>");

                

                    let sumDict = JSON.parse('{{sum_data_json}}');

                    for (let i = 0; i < sumDict.length; i++) {
                        if (approved[i] == '1')
                            $("#info").append("<td class = \"green lighten-4\" style=\"height: 40px; border: 1px solid black;\">" + sumDict[i] + "%</td>");
                        else
                            $("#info").append("<td style=\"height: 40px\">" + sumDict[i] + "%</td>");

                    }

                    $("#info").append("</tr>");


                    $("#info").append("<tr>");
                    for (let trial = 0; trial < trial_data; trial++) {
                        console.log(trial);
                        $("#info").append(`<td colspan=1><a href= '#deleteTrial` + trialDataJSON[trial].trial_num + `'class='material-icons modal-trigger'>delete</a></td>`);
                    }
                    
                
                    $("#info").append("</tr>");


                    $(document).ready(function(){
                        $('.modal').modal();
                    });

                </script>

                {{#each trialData}}
                <div class="modal" id="deleteTrial{{trial_num}}">
                    <div style="padding: 5% 5% 5% 5%">
                        <h6>Are you sure you would like to delete trial {{trial_num}}?</h6>
                        </div>
                        <div class="modal-footer">
                        <a class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" href="/formulas/{{../project_id}}/deleteTrial/{{trial_num}}">YES</a>
                        </div>
                    </div>
                </div>
                {{/each}}

                  <script>
                    $(document).ready(function () {
                        $('.modal').modal();
                    })
                </script>


                  
        <script>
        $(document).ready(function() {
            const editableCells = $("[contenteditable='true']");

            editableCells.focus(function() {
                const initialContent = $(this).text().trim();
                $(this).data("initialContent", initialContent);
            });

            editableCells.keydown(function(e) {
                if (e.keyCode === 13) { // Capture Enter key
                    e.preventDefault(); // Prevent line break
                  

                const editedContent = $(this).text();
                    
                const id = $(this).attr('id');  

                const initialContent = $(this).data("initialContent");


                let newURL = '';
                console.log("hello");
                console.log(initialContent);

                if (initialContent !== '') {
                    newURL = '/cellEdited/' + id + "/" + editedContent;
                }
                else {
                    newURL = '/addedIngredient/' + id + "/" + editedContent;
                }
                window.location.href += newURL;

                }
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
        });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        });
        </script>

        <script>
        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

    
    

                </div>
            </div>

    </body>


</html>