<!DOCTYPE html>
<html>

    <head>
    {{#each project_data}}
    <title>{{project_name}} Formulas</title>
    {{/each}}

      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script>
        Handlebars.registerHelper('eq', function(a, b) {
            return a === b;
        });
    </script>

    {{!-- <script type="text/javascript" src="/routes/projects.js"></script> --}}
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
    <link rel="stylesheet" href="/partials/color.css">
    
</head>
    <style>
        .container {
        display: flex;
        }

</style>

    <body style="display: flex; flex-direction: column;">
        
    <!-- NAVIGATION SIDEBAR -->
        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

           {{> logout}}
        </div>

        <div style="padding: 2% 2% 0% 2%">

        {{#each project_data}}
            <!-- https://materializecss.com/cards.html -->
                <div>
                    <h1>{{project_name}} Formulas </h1>
                    <p><b>Client:</b> {{this.client}}</p>
                    <p><b>Date:</b> {{formatDate this.date}}</p>
                    <p><b>Contact name: </b>{{client_name}}</p>
                    <p><b>Contact email: </b>{{client_email}}</p>
                </div>
        {{/each}}


            <p> &nbsp;</p>
            <div class="row"> 
                <div class="col s1">
                    <a href="#open" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add Trial</a>
                </div>

                <div class="col s2">
                    <button onclick="location.href = '/projects/{{project_id}}/procedure';" id="create-pdf-button" name="create-pdf-button" class="btn waves-effect waves-luluble-pink luluble-pink">Procedure</button>
                </div>

                <div class="col s1 offset-s8">
                    <button onclick="window.print()" id="create-pdf-button" name="create-pdf-button" class="btn waves-effect waves-luluble-pink luluble-pink">Print</button>
                </div>

                <p> &nbsp;</p>
            </div>

            <div class="col s12 m4 l2">

                

            <div class="modal" id="open">
                <div style="padding: 5% 5% 5% 5%">
                    {{!-- <b><span>Add a New Ingredient</span></b> --}}
                    <h1 style="font-size:40px;">Add a New Trial</h1>

                    <form method="POST" action="/projects/{{project_id}}/formulaformsubmit">
                        <article class="regular">
                            {{!-- <h2>Textbook</h2> --}}

                            {{!-- Field 1 --}}
                            <b><label for="tuluble">Trial Number:</label></b>
                            <input type="number" name = "userInput1" id="userInput1" placeholder="Enter Trial Number" maxlength="20">
                            <p> </p>

                            {{!-- Field 2 --}}
                            <b><label for="tuluble">Formulator Name:</label></b>
                            <input type="text" name = "userInput2" id="userInput2" placeholder="Enter Formulator Name" maxlength="20">
                            <p> </p>

                            {{!-- Field 3 --}}
                            <b><label for="tuluble">Batch Date:</label></b>
                            <input type="date" name = "userInput3" id="userInput3" placeholder="Enter Batch Date" maxlength="20">
                            <p> </p>

                            <div class="add_button">
                                <button id = "add_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Add Trial</button>
                                {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                            </div>
                            <p> </p>
                        </form>
                    
                
                    </article>
                </div>

            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

        <script src="/routes/formulas.js"></script>


        {{!-- clicking new ingredient button --}}
        <script>
            $(document).ready(function() {
                $("#add_button").click(function() {
                var inputValue1 = $("#userInput1").val();
                var inputValue2 = $("#userInput2").val();
                var inputValue3 = $("#userInput3").val();

                window.location += "/formulaformsubmit";
                //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('.modal').modal();
            })
        </script>


            <div class="row">
                <div style="overflow-x: scroll; display: flex;" >
                    <table class="table1 scrollable" style="table-layout: fixed; width: 50%">
                        <tr>
                            <th style="width: 85px; height: 30px;">Delete</th>
                            <th style = "width:85px">Phase</th>
                            <th style = "width: 200px">Trade Name</th>
                            <th style="width: 200px">INCI</th>
                            <th style="width: 200px">Supplier</th>
                            <th style="width: 150px">Lot Number</th>
                            
                            </tr>
                        {{!-- {{#each trialData1}}
                            <p>Batch date: {{batch_date}}</p>
                            <p>Formulator: {{formulator}}</p>
                        {{/each}}
                        {{#each trial_data1}}
                            <p>Total Amt of Formula: {{s}}</p>
                            <p class = "totalPercent">WARNING: Total Percentage = {{percent}}</p>
                        {{/each}} --}}
                        
                        {{#each ing_data}}
                            <tr style="overflow: scroll; height: 85px">
                                <td class="right-align">
                                    <a href="#deleteFormulaIngredient" class="material-icons modal-trigger">delete</a>

                                    <div id="deleteFormulaIngredient" class="modal">
                                        <div class="modal-content">
                                        <h6>Are you sure you would like to delete this ingredient?</h6>
                                        </div>
                                        <div class="modal-footer">
                                        <a class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" href="/projects/{{../project_id}}/deleteFormulaIngredient/{{ingredient_id}}">YES</a>
                                        </div>
                                    </div>

                                </td>
                                <td>{{phase}}</td>
                                <td>{{trade_name}}</td>
                                <td>{{inci_name}}</td>
                                <td>{{supplier}}</td>
                                <td>{{lot_num}}</td>
                               
                            </tr>
                        {{/each}}

                    <td>
                        <div class="col s12 m4 l2">
                        <a href="#openIng" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add Phase</a>

                        <div class="modal" id="openIng">
                            <div style="padding: 5% 5% 5% 5%">
                                {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                <h1 style="font-size:40px;">Add a New Phase</h1>

                                {{!-- somehow get the formula of the tab clicked on --}}
                                
                                {{!-- {{#each trialData1}}{{formula_id}}{{/each}} --}}
                                <form method="POST" action="/projects/{{project_id}}/phaseformsubmit">
                                
                                    <article class="regular">
                                        <b><label for="tuluble">Trial:</label></b>
                                        <input type="number" name = "userInput0" id="userInput0" placeholder="Enter Trial Number" maxlength="20">
                                        <p> </p>

                                        {{!-- Field 1 --}}
                                        <b><label for="tuluble">Phase:</label></b>
                                        <input type="text" name = "userInput1" id="userInput1" placeholder="Enter Phase Name" maxlength="20">
                                        <p> </p>

                                        {{!-- Field 2 --}}
                                        <b><label for="tuluble">Ingredient:</label></b>
                                        {{!-- <input type="text" name = "userInput2" id="userInput2" placeholder="Enter Ingredient Name" maxlength="20"> --}}
                                        <select name="userInput2" id="userInput2" class="browser-default">
                                            <option value="0" disabled selected>Choose your ingredient</option>
                                            {{#each inventory_data}}
                                                <option value="{{ingredient_id}}">{{inci_name}} (LOT {{lot_num}})</option>
                                            {{/each}}
                                        </select>
                                        <p> </p>

 
                                        <b><label for="tuluble">Percent of Ingredient:</label></b>
                                        <input type="number" name = "userInput3" id="userInput3" placeholder="Enter Percent" maxlength="20">
                                        <p> </p>

                                        <b><label for="tuluble">Total Amount of Ingredient:</label></b>
                                        <input type="number" name = "userInput4" id="userInput4" placeholder="Enter Total Amount" maxlength="20">
                                        <p> </p>

                                        <div class="add_trial_button">
                                            <button id = "add_trial_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Add Ingredient</button>
                                            {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                        </div>
                                        <p> </p>
                                    </form>
                                </article>
                            </div>
                        </div>
                    </td>
                    </div>

                    <script>
                        $(document).ready(function() {
                            $("#add_trial_button").click(function() {
                            var inputValue0 = $("#userInput0").val();
                            var inputValue1 = $("#userInput1").val();
                            var inputValue2 = $("#userInput2").val();
                            var inputValue3 = $("#userInput3").val();
                            var inputValue4 = $("#userInput4").val();

                            window.location.href += "/phaseformsubmit";
                            //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function() {
                            $("#make_trial_button").click(function() {
                                console.log("TEST");
                            var trial_num = $("#userInput1T").val();
                            var quantity = $("#userInput2T").val();
                           
                            window.location.href += "/makeformsubmit";
                            //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                            });
                        });
                    </script>
                    
                    <td>
                        <div class="col s12 m4 l2">
                        <a href="#makeTrial" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">MAKE TRIAL</a>
                        <div class="modal" id="makeTrial">
                            <div style="padding: 5% 5% 5% 5%">
                                {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                <h1 style="font-size:40px;">Make Trial</h1>

                                {{!-- somehow get the formula of the tab clicked on --}}
                    

                                <form method="POST" action="/projects/{{project_id}}/makeformsubmit">
                                    <article class="regular">
                                        {{!-- <h2>Textbook</h2> --}}

                                        {{!-- Field 1 --}}
                                        {{!-- <b><label for="tuluble">Quantity ({{unit}}):</label></b>
                                        <input type="range" min = "0" max = "100" name = "userInput1" id="userInput1">
                                        <p> </p> --}}
                                        {{!-- USE MATH IN SQL TO FIND MAX VAL --}}
                                        <b><label for="tuluble">Trial:</label></b>
                                        <input type="number" name = "userInput1T" id="userInput1T">
                                        <p> </p>

                                        <b><label for="tuluble">Quantity:</label></b>
                                        <input type="number" name = "userInput2T" id="userInput2T">
                                        <p> </p>

                                       
                                        <div class="make_trial_button">
                                            <button id = "make_trial_button" onclick="postMessage()" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Make Trial</button>
                                            {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                        </div>
                                        <p> </p>
                                    </article>
                                  </form>
                            </div>
                        </div>
                        </div>
                    </td>
                    </div>

                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            var toastHTML = '<span>TEST</span><button class="btn-flat toast-action" onclick="">UNDO MAKE</button>';
                            var button = document.querySelector('#make_trial_button');

                            button.addEventListener('click', function() {
                                M.toast({html: toastHTML, displayLength: 10000});
                            });
                        });
                    </script>

                    <script>
                    
                    </script>
                 
                    </table>
                    <div style="overflow-x: scroll; display: flex; float: right">
                        <table class = "scrollable" id = "info" style = "width: 100%">
                                
                           
                        </table> 
                    </div>
                    

                </div>

                    {{!-- PRINTING DOESN'T WORK RIGHT NOW, BUTTON GIVES ERROR --}}
                    {{!-- <a href = "/projects/{{project_id}}/procedure"> _</a> --}}
                    <p>&nbsp;</p>

                   

                    
            </div>

                <script>
                  
                    
                    // var ingredientsJSON = JSON.stringify({{ingredient_dict}});
                    const ingredients = JSON.parse('{{{ingredient_dict}}}');
                    console.log(ingredients);
                    // const ingredients = [ingredient1, ingredient2];
                    // const decodedString = he.decode('{{ingredient_dict}}');
                    // const ingredients = JSON.parse(decodedString);
                    const trial_data = {{trial_data}};
                    $("#info").append("<tr>");
                    
                    console.log("TRIAL TRIAL DATA DATA ");
                    if (trial_data == 0){
                        $("#info").append("<th style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\">Add a Trial!</th>");

                    }
                    for (let i = 0; i < trial_data; i++) {
                        // $("#info").append("<tr>");
                        console.log(i);
                        // $("#info").append("<th >Trial "+i+"</th>"); 
                        $("#info").append("<th style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 30px\">Trial "+(i+1)+" Amount </th>");
                        $("#info").append("<th style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; height: 30px\">Trial "+(i+1)+" Percentage</th>");
                    }
                    $("#info").append("</tr>");
                    
                    
                   
                   console.log(ingredients);
                    
                    for(let ing = 0; ing < ingredients.length; ing++) {
                            $("#info").append("<tr >");
                            for(let trial = 0; trial < ingredients[ing].length; trial++)
                            {
                                console.log("hi");
                                // console.log(ingredients[ing][trial][0].trial_num);
                                if (ingredients[ing][trial].length !== 0){
                                    console.log("YOOHOO");
                                    console.log(ingredients[ing][trial]);
                                    $("#info").append("<td style=\"height: 85px\"id = 'amount/trial" + (trial+1) + "/ingredient" + ingredients[ing][trial][0]['ingredient_id'] + "/phase" + ingredients[ing][trial][0]['phase'] + "' contenteditable='true' style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 20px;\">"+ingredients[ing][trial][0]['total_amount']+"</td>");
                                    $("#info").append("<td style=\"height: 85px\"id = 'percent/trial" + (trial+1) + "/ingredient" + ingredients[ing][trial][0]['ingredient_id'] + "/phase" + ingredients[ing][trial][0]['phase'] +  "' contenteditable='true' style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 20px;\">"+ingredients[ing][trial][0]['percent_of_ingredient']+"</td>");
                                }
                                // ELSE SHOULD NEVER BE REACHED
                                else {
                                    $("#info").append("<td id = 'amount/trial" + (trial+1) + "/ingredient" + ingredients[ing][trial][0]['ingredient_id'] + "/phase" + ingredients[ing][trial][0]['phase'] + "' contenteditable='true' style=\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 20px;\"></td>");
                                    $("#info").append("<td id = 'percent/trial" + (trial+1) + "/ingredient" + ingredients[ing][trial][0]['ingredient_id'] + "/phase" + ingredients[ing][trial][0]['phase'] + "' contenteditable='true' style-\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 20px;\"></td>");
                                }

                               
                            }
                            $("#info").append("</tr>");
                          
                    }
                      
                    $("#info").append("<tr>");

                

                    let sumDict = JSON.parse('{{sum_data_json}}');

                    for (let i = 0; i < sumDict.length; i+=2) {
                        $("#info").append("<td style=\"height: 40px\">" + sumDict[i] + "</td>");
                        $("#info").append("<td style=\"height: 40px\">" + sumDict[i+1] + "%</td>");
                    }

                    $("#info").append("</tr>");


                    $("#info").append("<tr>");
                    for (let trial = 0; trial < trial_data; trial++) {
                        console.log(trial);
                        $("#info").append(`<td colspan=2><a href= '#deleteTrial${trial+1}' class='material-icons modal-trigger'>delete</a></td>`);
                    }
                    
                
                    $("#info").append("</tr>");


                    $(document).ready(function(){
                        $('.modal').modal();
                    });

                </script>

                {{#each trialData}}
                <div class="modal" id="deleteTrial{{trial_num}}">
                    <div style="padding: 5% 5% 5% 5%">
                        <h6>Are you sure you would like to delete this trial?</h6>
                        </div>
                        <div class="modal-footer">
                        <a class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" href="/projects/{{../project_id}}/deleteTrial/{{trial_num}}">YES</a>
                        </div>
                    </div>
                </div>
                {{/each}}

                  <script>
                    $(document).ready(function () {
                        $('.modal').modal();
                    })
                </script>


                  
        <script>
        $(document).ready(function() {
            const editableCells = $("[contenteditable='true']");

            editableCells.focus(function() {
                const initialContent = $(this).text().trim();
                $(this).data("initialContent", initialContent);
            });

            editableCells.keydown(function(e) {
                if (e.keyCode === 13) { // Capture Enter key
                    e.preventDefault(); // Prevent line break
                  

                const editedContent = $(this).text();
                    
                const id = $(this).attr('id');  

                const initialContent = $(this).data("initialContent");


                let newURL = '';
                console.log("hello");
                console.log(initialContent);

                if (initialContent !== '') {
                    newURL = '/cellEdited/' + id + "/" + editedContent;
                }
                else {
                    newURL = '/addedIngredient/' + id + "/" + editedContent;
                }
                window.location.href += newURL;

                }
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
        });
        </script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems);
        });
        </script>

        <script>
        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

    
    

                </div>
            </div>

    </body>


</html>