<!DOCTYPE html>
<html>
    <head>
        <title>index</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/styles/index.css">
        <script type="text/javascript" src="/routes/index.js"></script>

    </head>
            
    <body>
        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

        {{> logout}}
        </div>

        <div id="main" style="padding: 0% 2% 0% 2%">
            <center>            

                <h1 id="title" style="color:#e700a2">Welcome {{profileInfo}}!
                    <span style= "col
                    or:#000000" class="large material-icons">local_florist
                    </span>
                </h1>

                <center>
                    <p>&nbsp;</p>
                    <p>Welcome to the tuluble database!</p>
                    <p>You have access to luluble's inventory, projects, and formulas all within one place.</p>
                    <p>Take a moment and explore.  </p>
                </center>

            </center>

            <h3 style="color:#e700a2">Notifications</h3>

            <center>
                <table class="tableFixHead">
                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th>Alert</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each runningLow}}
                            <tr>
                                <td>{{inci_name}} {{trade_name}}</td>
                                <td>{{amt}}{{unit}} left</td>
                            </tr>
                        {{/each}}

                        {{#each expired}}
                            <tr>
                                <td>{{inci_name}} {{trade_name}}</td>
                                <td>Expiration date: {{formatDate expiration}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </center>

            <div class = ".pink_button">
                <a style="background-color: rgba(121, 85, 72, 0.65);"></a>
            </div>
        </div>

        <a>&nbsp;</a>
    
    </body>
</html>