<!DOCTYPE html>
<html>
    <head>
        <title>page</title>
        <title>materialbox</title>
        <title>navbar</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/styles/inventory.css">
        <link rel="stylesheet" href="/partials/color.css">
         <script type="text/javascript" src="/routes/inventory.js"></script>
    </head>

    <body>
        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

            {{> logout}}
        </div>

        <div style="padding: 2% 2% 2% 1%" class="row">
            <div class="col s12">
                <p></p>
                <h1 id="inventoryTitle">Inventory </h1>

                {{!-- <button id="create-pdf-button">Create PDF</button> --}}
                {{!-- <a id="create-pdf-button" class="btn waves-effect waves-luluble-pink luluble-pink">Create PDF</a> --}}

                {{!-- <button onclick="window.print()">Print Screen</button> --}}
                <p>&nbsp;</p>
                <label>Classifier select</label>
                <select id="myDropdown" class="browser-default">
                    <option value="0" disabled selected>Filter by classifier</option>
                    <option value="Thickener">Thickeners</option>
                    <option value="Oils">Oils</option>
                    <option value="Butters">Butters</option>
                    <option value="Surfactants">Surfactants</option>
                    <option value="Functional-Active">Functional/Active</option>
                    <option value="Preservatives">Preservatives</option>
                    <option value="Extracts-Fragrances-Flavor">Extracts/Fragrances/Flavor</option>
                    <option value="Experimental">Experimental</option>
                    <option value="Colorants">Colorants</option>
                    <option value="Absorbents">Absorbents</option>
                    <option value="pH Adjusters (Acids)">pH Adjusters (Acids)</option>
                    <option value="pH Adjusters (Bases)">pH Adjusters (Bases)</option>
                    <option value="Distilled_Water-Ethyl_Alcohol">Distilled Water/Ethyl Alcohol</option>
                </select>
            </div>

            <p>&nbsp;</p>


            <div class="col s12 m4 l2">
                <a href="#terms" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add an Ingredient</a>
                <div class="modal" id="terms">
                    <div style="padding: 5% 5% 5% 5%">
                        {{!-- <b><span>Add a New Ingredient</span></b> --}}
                        <h1 style="font-size:40px;">Add a New Ingredient</h1>

                        <form method="POST" action="/inventory/inventoryformsubmit" class="validate" enctype="multipart/form-data">
                            <article class="regular">
                                {{!-- <h2>Textbook</h2> --}}

                                {{!-- Field 1 --}}
                                <b><label for="tuluble">INCI Name:</label></b>
                                <input type="text" name="newInciName" required id="newInciName" placeholder="Enter INCI Name"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s/-%\()]*$">
                                <p> </p>

                                {{!-- Field 2 --}}
                                <b><label for="tuluble">Trade Name:</label></b>
                                <input type="text" name="newTradeName" required id="newTradeName" placeholder="Enter Trade Name"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s()-]*$">
                                <p> </p>

                                <b><label for="tuluble">Encoding:</label></b>
                                <input type="text" name="newEncoding" required id="newEncoding" placeholder="Enter Ingredient Encoding"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>
                                <br>


                                <b><label for="tuluble">Hazard Details:</label></b>
                                <input type="text" name="hazardDetails" id="hazardDetails" placeholder="Enter Hazard Details"
                                    maxlength="60" pattern="^[a-zA-Z0-9\s]*$">
                                <br>

                                {{!-- Field 3 --}}
                                <b><label for="tuluble">Amount Available:</label></b>
                                <input type="number" name="newAmount" required id="newAmount" placeholder="Enter Amount"
                                    maxlength="20">
                                <p> </p>

                                {{!-- Field 4 --}}
                                <b><label for="tuluble">Shelf:</label></b>
                                <input type="text" name="newShelf" required id="newShelf" placeholder="Enter Shelf"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>

                                <b><label for="tuluble">Classifier:*</label></b>
                                {{!-- <input type="text" name="userInput5" id="userInput5" placeholder="Enter Classifier"
                                    maxlength="20"> --}}
                                <select name="newClassifier" required id="newClassifier" class="browser-default">
                                    <option value="0" disabled selected>Choose your classifier</option>
                                    <option value="Thickener">Thickeners</option>
                                    <option value="Oils">Oils</option>
                                    <option value="Butters">Butters</option>
                                    <option value="Surfactants">Surfactants</option>
                                    <option value="Functional-Active">Functional/Active</option>
                                    <option value="Preservatives">Preservatives</option>
                                    <option value="Extracts-Fragrances-Flavor">Extracts/Fragrances/Flavor</option>
                                    <option value="Experimental">Experimental</option>
                                    <option value="Colorants">Colorants</option>
                                    <option value="Absorbents">Absorbents</option>
                                    <option value="pH Adjusters (Acids)">pH Adjusters (Acids)</option>
                                    <option value="pH Adjusters (Bases)">pH Adjusters (Bases)</option>
                                    <option value="Distilled_Water-Ethyl_Alcohol">Distilled Water/Ethyl Alcohol</option>
                                </select>
                                <p> </p>
                                <p> &nbsp;</p>

                                <b><label for="tuluble">Lot Number:</label></b>
                                <input type="text" name="newLotNum" required id="newLotNum" placeholder="Enter Lot Number"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>

                                <b><label for="tuluble">Cost Per Kilo:</label></b>
                                <input type="text" name="newCost" required id="newCost" placeholder="Enter Cost Per Kilo"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>

                                <b><label for="tuluble">Expiration Date:</label></b>
                                <input type="date" name="newExpiration" required id="newExpiration" placeholder="Enter Expiration Date">
                                <p> </p>

                                <b><label for="tuluble">Date Recieved:</label></b>
                                <input type="date" name="newReceived" required id="newReceived" placeholder="Enter Date Received">
                                <p> </p>

                                <b><label for="tuluble">Supplier:</label></b>
                                <input type="text" name="newSupplier" required id="newSupplier" placeholder="Enter Supplier"
                                    maxlength="45" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>

                                <b><label for="tuluble">COA Documents (Only input JPG or PDF):</label></b>
                                <span>File</span>
                                <input type="file" name = "newCOA" id = "newCOA">
                                <p> </p>
                                <br>

                                <b><label for="tuluble">MSDS Documents (Only input JPG or PDF):</label></b>
                                <span>File</span>
                                <input type="file" name = "newMSDS" id = "newMSDS">

                                <div class="add_button">
                                    <button id="add_button" 
                                    name="add_button" 
                                    type="submit" 
                                    class="btn waves-effect waves-luluble-pink luluble-pink">
                                    Add Ingredient</button>
                                </div>
                                <p> </p>
                        </form>


                        </article>
                    </div>
                </div>
            </div>


            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
            <script src="/libs/jspdf.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>

            


            <script>
                $(document).ready(function () {
                    $('browser-default').formSelect();
                    $('.modal').modal();
                })
            </script>

            <div class="col s12 m4 l4">
                <p></p>
            </div>

            <div class="col s12 m4 l6">
                <p></p>
                <nav>
                    <div class="nav-wrapper pink accent-1" style="margin-top:20px">
                        <div class="input-field">
                            <input type="search" id="gsearch" name="gsearch">
                            <label for="search" class="label-icon"> <i class="material-icons">search</i></label>
                            {{!-- <input type="submit"> --}}
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                    <div style="text-align:right">
                        <button id="clear-search"
                            name="clear-search" 
                            onclick="redirectToPage()"
                            class="btn waves-effect waves-luluble-pink luluble-pink">
                            Clear Search</button>
                    </div>
                </nav>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Get the select element
                var selectElement = document.getElementById('myDropdown');

                // Add an event listener for the 'change' event
                selectElement.addEventListener('change', function() {
                    // Get the selected value
                    var selectedValue = selectElement.value;
                    
                    // Do something with the selected value
                    window.location.assign("/inventory/" + selectedValue);
                });
            });
        </script>

        <script>
            function redirectToPage() {
                const clearedUrl = "/inventory";
                const currentUrl = window.location.href;
                
                if (currentUrl !== clearedUrl) {
                    console.log(clearedUrl);
                    window.location.href = clearedUrl;
                }
            }

            const clear = document.querySelector('#clear-search');
            clear.addEventListener("click", redirectToPage);
        </script>


        {{!-- search script --}}

        <script>
            const search = document.querySelector('#gsearch');
            
            const regex = /^[a-zA-Z0-9\s]*$/;
            let searchBar = document.getElementById('gsearch');
            let searchButton = document.getElementById('search-button');
            let searchTerm;
            

            search.addEventListener('change', (event) => {
                searchTerm = searchBar.value.trim();
                searchBar.value = searchTerm;

                function validateSearchInput(input) {
                    return regex.test(input);
                }

                const stateObj = { url: '/inventory' };
                const title = '';
                const newUrl = '/inventory';

                if (searchTerm.length === 0 || !validateSearchInput(searchTerm)) {
                    window.location.assign("/inventory");
                }
                else {
                    if (window.location.href.indexOf("inventory/") !== -1) {
                        console.log(searchTerm);
                        window.location.assign("/inventory/search/" + searchTerm);

                    }
                    else {
                        console.log("inventory/" + searchTerm);
                        window.location.assign("/inventory/search/" + searchTerm);

                    }
                }
               
            });
        </script>

      
        <div style="padding:20px">
            <div class="table-container">
                <table id="my-table" class="scrollable">
                    <thead>
                        <tr id="ing">
                            {{#ifEitherTrue (eq isAdmin 1) (eq isAdmin 2)}}
                            <th id="inci">INCI Name
                                <a id="sort-inci-button" class="hoverable">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>

                            </th>
                            <th id="trade">Trade Name
                                <a id="sort-trade-button" class="hoverable">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>
                            </th>
                            {{/ifEitherTrue}}
                            <th id="encoding">Encoding
                                <a id="sort-encoding-button" class="hoverable">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>
                            </th>
                            <th id="supplier">Supplier
                                <a id="sort-supplier-button" class="hoverable">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>
                            </th>
                            <th id="amount">Amount Available
                                <a id="sort-amount-button" class="hoverable">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>
                            </th>
                            <th id="shelf">Shelf
                            </th>
                            <th id="lot_number">Lot Number
                            </th>
                            <th id="cost">Cost
                            </th>
                            {{#ifEitherTrue (eq isAdmin 0) (eq isAdmin 1)}}
                            <th id="archive">Archive
                            </th>
                            {{/ifEitherTrue}}
                            <th id="edit">Edit
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each results}}
                        <tr>
                            {{#ifEitherTrue (eq ../isAdmin 1) (eq ../isAdmin 2)}}
                            <td>{{this.inci_name}}
                                <a href="#terms{{ingredient_id}}" class="modal-trigger">
                                    <span class="large material-icons">info_outline</span>
                                </a>
                                <div class="modal" id="terms{{ingredient_id}}">
                                    <div class="row">
                                        <div class="col s12">&nbsp;</div>
                                        <div class="col s12"><b>
                                                <font size="+2">Ingredient Information</font>
                                            </b></div>
                                        <div class="col s12">&nbsp;</div>
                                        <div class="col s6">
                                            
                                                <b>Trade Name: </b> {{this.trade_name}}<br></br>
                                                <b>INCI Name: </b> {{this.inci_name}}<br></br>
                                                <b>Amount Available: </b> {{this.amt}} {{this.unit}}<br></br>
                                                <b>Supplier:</b> {{this.supplier}}<br></br>
                                                <b>Lot Number:</b> {{this.lot_num}}<br></br>
                                                <b>Shelf:</b> {{this.shelf}}<br></br>
                                                <b>Cost:</b>{{#if this.cost}} ${{this.cost}} Per Kilogram{{else}} {{/if}}<br></br>
                                        </div>
                                        <div class="col s6">
                                            <span><b>TSCA Approved:</b> {{this.tsca_approved}}<br></br>
                                                <b>Date Receieved: </b>{{formatDate2 this.date_received}}<br></br>
                                                <b>Expiration Date: </b>{{formatDate2 this.expiration}}<br></br>
                                                <b>COA:</b> <a target="_blank" href="/inventory/images/{{this.coa}}">Link</a><br></br>
                                                <b>MSDS:</b> <a target="_blank" href="/inventory/images/{{this.msds}}">Link</a><br></br>
                                        </div>

                                        <div class="col s12">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td>{{this.trade_name}}</td>             
                            {{/ifEitherTrue}}
                            <td>{{this.encoding}}{{#if this.hazardDetails}}<i class="tooltipped material-icons" data-position="bottom" data-tooltip="{{hazardDetails}}">warning</i>{{/if}}</td>
                            <td>{{this.supplier}}</td>
                            <td>{{this.amt}} {{this.unit}}</td>
                            <td>{{this.shelf}}</td>
                            <td>{{this.lot_num}}</td>
                            <td>{{#if this.cost}} ${{this.cost}} {{/if}}</td>
                            {{#ifEitherTrue (eq ../isAdmin 0) (eq ../isAdmin 1)}}
                            <td>
                                <div class="archive_button">
                                    <a href="/inventory/archive-ingredient/{{this.ingredient_id}}"
                                        class="btn waves-effect waves-luluble-pink luluble-pink">Archive</a>
                                </div>
                            </td>
                            {{/ifEitherTrue}}
                            <td>
                                <div class="edit_button">
                                    <a href="#termss{{ingredient_id}}"
                                        class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Edit</a>
                                    <div class="modal" id="termss{{ingredient_id}}">
                                        <div style="padding: 5% 5% 5% 5%">
                                            {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                            <h1 style="font-size:40px;">Edit Ingredient</h1>

                                            <form method="POST" action="/inventory/{{ingredient_id}}/inventoryingredientupdate" class="validate" enctype="multipart/form-data">
                                                <article class="regular">
                                                    {{!-- <h2>Textbook</h2> --}}

                                                    <b><label for="tuluble">INCI Name:</label></b>
                                                    <input type="text" name="editInciName" id="editInciName"
                                                        value="{{this.inci_name}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                {{!-- Field 2 --}}
                                                <b><label for="tuluble">Trade Name:</label></b>
                                                <input type="text" name = "editTradeName" id="ediTradeName" value="{{this.trade_name}}" maxlength="200" pattern="^[a-zA-Z0-9\s]*$">
                                                <p> </p>

                                                <b><label for="tuluble">Encoding:</label></b>
                                                <input type="text" name="editEncoding" id="editEncoding" value="{{this.encoding}}"
                                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                                <p> </p>
                                                <br>

                                                <b><label for="tuluble">Hazard Details:</label></b>
                                                <input type="text" name="hazardDetailsEdit" id="hazardDetailsEdit" value="{{this.hazardDetails}}"
                                                    maxlength="60" pattern="^[a-zA-Z0-9\s]*$">
                                                <br>


                                                    {{!-- Field 3 --}}
                                                    <b><label for="tuluble">Amount Available:</label></b>
                                                    <input type="number" name="editAmount" id="editAmount"
                                                        value="{{this.amt}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                    {{!-- Field 4 --}}
                                                    <b><label for="tuluble">Shelf:</label></b>
                                                    <input type="text" name="editShelf" id="editShelf"
                                                        value="{{this.shelf}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                    <b><label for="tuluble">Select Classifier:</label></b>
                                                
                                                    <select name="editClassifier" id="editClassifier" class="browser-default">
                                                        <option value="Thickener" {{isSelected "Thickener" classifier_id}}>Thickeners</option>
                                                        <option value="Oils" {{isSelected "Oils" classifier_id}}>Oils</option>
                                                        <option value="Butters" {{isSelected "Butters" classifier_id}}>Butters</option>
                                                        <option value="Surfactants" {{isSelected "Surfactants" classifier_id}}>Surfactants</option>
                                                        <option value="Functional-Active" {{isSelected "Functional-Active" classifier_id}}>Functional/Active</option>
                                                        <option value="Preservatives" {{isSelected "Preservatives" classifier_id}}>Preservatives</option>
                                                        <option value="Extracts-Fragrances-Flavor" {{isSelected "Extracts-Fragrances-Flavor" classifier_id}}>
                                                            Extracts/Fragrances/Flavor</option>
                                                        <option value="Experimental" {{isSelected "Experimental" classifier_id}}>Experimental</option>
                                                        <option value="Colorants" {{isSelected "Colorants" classifier_id}}>Colorants</option>
                                                        <option value="Absorbents" {{isSelected "Absorbents" classifier_id}}>Absorbents</option>
                                                        <option value="pH Adjusters (Acids)" {{isSelected "pH Adjusters (Acids)" classifier_id}}>pH Adjusters (Acids)</option>
                                                        <option value="pH Adjusters (Bases)" {{isSelected "pH Adjusters (Bases)" classifier_id}}>pH Adjusters (Bases)</option>
                                                        <option value="Distilled_Water-Ethyl_Alcohol" {{isSelected "Distilled_Water-Ethyl_Alcohol" classifier_id}}>Distilled Water/Ethyl
                                                            Alcohol</option>
                                                    </select>
                                                    <p> </p>
                                                    <p> &nbsp;</p>

                                                    <b><label for="tuluble">Lot Number:</label></b>
                                                    <input type="text" name="editLotNum" id="editLotNum"
                                                        value="{{this.lot_num}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                    <b><label for="tuluble">Cost Per Kilo:</label></b>
                                                    <input type="text" name="editCost" id="editCost"
                                                        value="{{this.cost}}" pattern="^[a-zA-Z0-9\s$]*$">
                                                    <p> </p>

                                                    <b><label for="tuluble">Expiration Date:</label></b>
                                                    <input type="date" class="datepicker" name="editExpiration" id="editExpiration"
                                                        value="{{formatDate this.expiration}}" >
                                                    <p> </p>

                                                    <b><label for="tuluble">Date Recieved:</label></b>
                                                    <input type="date" class="datepicker" name="editReceived" id="editReceived"
                                                        value="{{formatDate this.date_received}}" >
                                                    <p> </p>

                                                    <b><label for="tuluble">Supplier:</label></b>
                                                    <input type="text" class="datepicker" name="editSupplier" id="editSupplier"
                                                        value="{{this.supplier}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                    <b><label for="tuluble">COA Documents (Only input JPG or PDF):</label></b>
                                                    {{#if coa}}
                                                        <p><a target = "_blank" href = "/inventory/images/{{this.coa}}">Currently assigned file</a></p>
                                                    {{/if}}
                                                    <span>File</span>
                                                    <input type="file" name = "newCOAEdit" id = "newCOAEdit">
                                                    <p> </p>
                                                    
                                                    <br>

                                                    <b><label for="tuluble">MSDS Documents (Only input JPG or PDF):</label></b>
                                                     {{#if msds}}
                                                        <p><a target = "_blank" href = "/inventory/images/{{this.msds}}">Currently assigned file</a></p>
                                                    {{/if}}
                                                    <span>File</span>
                                                    <input type="file" name = "newMSDSEdit" id = "newMSDSEdit">
                                                    <p></p>
                                                   

                                                    <div class="update_button">
                                                        <button id="update_button" 
                                                        name="update_button" 
                                                        type="submit"
                                                        class="btn waves-effect waves-luluble-pink luluble-pink">
                                                        Finish Editing</button>
                                                    </div>
                                                    <p> </p>
                                            </form>
                                            </article>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>



                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Find the switch element by its ID
                const hazardousSwitchEdit = document.getElementById('hazardousSwitchEdit');

                // Get the value of the switch
                const switchValueEdited = hazardousSwitchEdit.checked;

                // Now, you have the value of the switch (true or false)
                console.log("Switch value:", switchValueEdited);
            });
        </script>

        <script>
            //hazardousSwitchEdit refuses to be defined 
            //need to make the id = hazardousSwitchEdit unique for each ingredient
            //and then call this id here

            //problem is being able to call an sql {{ingredient_id}} in a script tag 
            const hazardousSwitchEdit = document.getElementById('hazardousSwitchEdit');
            const textBoxContainerEdit = document.getElementById('textBoxContainerEdit');
            console.log("This is the harzardousdwitcheEdit varuabe:" + hazardousSwitchEdit.checked);
            console.log("Ths is the textbox container edit variable:" + textBoxContainerEdit);
            

            hazardousSwitchEdit{{ingredient_id}}.addEventListener('change', function() {
                console.log("is the switch chedk" + hazardousSwitchEdit.checked);
            if (hazardousSwitchEdit.checked) {
                textBoxContainerEdit.style.display = 'block';
                
            } else {
                textBoxContainerEdit.style.display = 'none';
            }
            });
        </script>



        <script>
            $(document).ready(function () {
                $('.modal').modal();
            })
        </script>

        <script>
            document.getElementById('sort-inci-button').addEventListener('click', function () {
                sortTableByInci(0); // Sort by the first column
            });

            function sortTableByInci(columnIndex) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById('my-table');
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName('TD')[columnIndex];
                        y = rows[i + 1].getElementsByTagName('TD')[columnIndex];
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>


        <script>
            $(document).ready(function(){
                $('.tooltipped').tooltip();
            });
        </script>

        <script>
            document.getElementById('sort-trade-button').addEventListener('click', function () {
                sortTableByTrade(1); // Sort by the first column
            });

            function sortTableByTrade(columnIndex) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById('my-table');
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName('TD')[columnIndex];
                        y = rows[i + 1].getElementsByTagName('TD')[columnIndex];
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>

            <script>
                document.getElementById('sort-supplier-button').addEventListener('click', function () {
                    sortTableBySupplier(3); // Sort by the first column (0-based index)
                });

                function sortTableBySupplier(columnIndex) {
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById('my-table');
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                            shouldSwitch = false;
                            x = rows[i].getElementsByTagName('TD')[columnIndex];
                            y = rows[i + 1].getElementsByTagName('TD')[columnIndex];
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                }
            </script>


        <script>
            document.getElementById('sort-amount-button').addEventListener('click', function () {
                sortTableByAmount(4); // Sort by the first column
            });

            function sortTableByAmount(columnIndex) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById('my-table');
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName('TD')[columnIndex];
                        y = rows[i + 1].getElementsByTagName('TD')[columnIndex];
                        // Compare the cell values as numbers instead of strings
                        if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>

        <script>
            document.getElementById('sort-encoding-button').addEventListener('click', function () {
                sortTableByEncoding(2); // Sort by the third column (0-based index)
            });

            function extractNumericValue(cellContent) {
                // Extract numeric part from the cell content (assuming it's always at the end)
                var matches = cellContent.match(/\d+$/);
                return matches ? parseInt(matches[0]) : 0;
            }

            function sortTableByEncoding(columnIndex) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById('my-table');
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = extractNumericValue(rows[i].getElementsByTagName('TD')[columnIndex].innerHTML);
                        y = extractNumericValue(rows[i + 1].getElementsByTagName('TD')[columnIndex].innerHTML);
                        if (x > y) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>


        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.tooltipped');
                var instances = M.Tooltip.init(elems, options);
            });

            // Or with jQuery

            $(document).ready(function(){
                $('.tooltipped').tooltip();
            });
                
        </script>

        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    </body>

</html>