<!DOCTYPE html>
<html>
    <head>
        <title>page</title>
        <title>materialbox</title>
        <title>navbar</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/styles/inventory.css">
        <link rel="stylesheet" href="/partials/color.css">
    </head>

    <body>
        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

            {{> logout}}
        </div>

        <div style="padding: 2% 2% 2% 1%" class="row">
            <div class="col s12">
                <p></p>
                <h1 id="inventoryTitle">Inventory </h1>

                {{!-- <button id="create-pdf-button">Create PDF</button> --}}
                {{!-- <a id="create-pdf-button" class="btn waves-effect waves-luluble-pink luluble-pink">Create PDF</a> --}}

                {{!-- <button onclick="window.print()">Print Screen</button> --}}
                <p>&nbsp;</p>
                <label>Classifier select</label>
                <select id="myDropdown" class="browser-default">
                    <option value="0" disabled selected>Filter by classifier</option>
                    <option value="Thickener">Thickeners</option>
                    <option value="Oils">Oils</option>
                    <option value="Butters">Butters</option>
                    <option value="Surfactants">Surfactants</option>
                    <option value="Functional-Active">Functional/Active</option>
                    <option value="Preservatives">Preservatives</option>
                    <option value="Extracts-Fragrances-Flavor">Extracts/Fragrances/Flavor</option>
                    <option value="Experimental">Experimental</option>
                    <option value="Colorants">Colorants</option>
                    <option value="Absorbents">Absorbents</option>
                    <option value="pH Adjusters (Acids)">pH Adjusters (Acids)</option>
                    <option value="pH Adjusters (Bases)">pH Adjusters (Bases)</option>
                    <option value="Distilled_Water-Ethyl_Alcohol">Distilled Water/Ethyl Alcohol</option>
                </select>
            </div>

            <p>&nbsp;</p>


            <div class="col s12 m4 l2">
                <a href="#terms" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Add an Ingredient</a>
                <div class="modal" id="terms">
                    <div style="padding: 5% 5% 5% 5%">
                        {{!-- <b><span>Add a New Ingredient</span></b> --}}
                        <h1 style="font-size:40px;">Add a New Ingredient</h1>

                        <form method="POST" action="/inventory/inventoryformsubmit" class="validate">
                            <article class="regular">
                                {{!-- <h2>Textbook</h2> --}}

                                {{!-- Field 1 --}}
                                <b><label for="tuluble">INCI Name:</label></b>
                                <input type="text" name="inci_name" required id="inci_name" placeholder="Enter INCI Name"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s/-%\()]*$">
                                <p> </p>

                                {{!-- Field 2 --}}
                                <b><label for="tuluble">Trade Name:</label></b>
                                <input type="text" name="trade_name" required id="trade_name" placeholder="Enter Trade Name"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s()-]*$">
                                <p> </p>

                                <b><label for="tuluble">Encoding:</label></b>
                                <input type="text" name="encoding" required id="encoding" placeholder="Enter Ingredient Encoding"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>
                                <br>

                                <b><label for="tuluble">Hazardous?</label></b>
                                <div class="switch">
                                <label>
                                    No
                                    <input type="checkbox" id="hazardousSwitch">
                                    <span class="lever"></span>
                                    Yes
                                </label>
                                </div>
                                <br>

                                <div id="textBoxContainer" style="display: none;">
                                <b><label for="tuluble">Hazard Details:</label></b>
                                <input type="text" name="hazardDetails" id="hazardDetails" placeholder="Enter Hazard Details"
                                    maxlength="60" pattern="^[a-zA-Z0-9\s]*$">
                                <br>
                                </div>

                                {{!-- Field 3 --}}
                                <b><label for="tuluble">Amount Available:</label></b>
                                <input type="number" name="amt" required id="amt" placeholder="Enter Amount"
                                    maxlength="20">
                                <p> </p>

                                {{!-- Field 4 --}}
                                <b><label for="tuluble">Shelf:</label></b>
                                <input type="text" name="shelf" required id="shelf" placeholder="Enter Shelf"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>

                                <b><label for="tuluble">Classifier:</label></b>
                                {{!-- <input type="text" name="userInput5" id="userInput5" placeholder="Enter Classifier"
                                    maxlength="20"> --}}
                                <select name="classifier" required id="classifier" class="browser-default">
                                    <option value="0" disabled selected>Choose your classifier</option>
                                    <option value="Thickener">Thickeners</option>
                                    <option value="Oils">Oils</option>
                                    <option value="Butters">Butters</option>
                                    <option value="Surfactants">Surfactants</option>
                                    <option value="Functional-Active">Functional/Active</option>
                                    <option value="Preservatives">Preservatives</option>
                                    <option value="Extracts-Fragrances-Flavor">Extracts/Fragrances/Flavor</option>
                                    <option value="Experimental">Experimental</option>
                                    <option value="Colorants">Colorants</option>
                                    <option value="Absorbents">Absorbents</option>
                                    <option value="pH Adjusters (Acids)">pH Adjusters (Acids)</option>
                                    <option value="pH Adjusters (Bases)">pH Adjusters (Bases)</option>
                                    <option value="Distilled_Water-Ethyl_Alcohol">Distilled Water/Ethyl Alcohol</option>
                                </select>
                                <p> </p>
                                <p> &nbsp;</p>

                                <b><label for="tuluble">Lot Number:</label></b>
                                <input type="text" name="lot_num" required id="lot_num" placeholder="Enter Lot Number"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>

                                <b><label for="tuluble">Cost Per Kilo:</label></b>
                                <input type="text" name="cost" required id="cost" placeholder="Enter Cost Per Kilo"
                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>

                                <b><label for="tuluble">Expiration Date:</label></b>
                                <input type="date" name="expiration" required id="expiration" placeholder="Enter Expiration Date">
                                <p> </p>

                                <b><label for="tuluble">Date Recieved:</label></b>
                                <input type="date" name="date_received" required id="date_received" placeholder="Enter Date Received">
                                <p> </p>

                                <b><label for="tuluble">Supplier:</label></b>
                                <input type="text" name="supplier" required id="supplier" placeholder="Enter Supplier"
                                    maxlength="45" pattern="^[a-zA-Z0-9\s]*$">
                                <p> </p>

                                <b><label for="tuluble">COA Documents:</label></b>
                                <input type="url" name="coa" required id="coa" placeholder="Enter Link"
                                    maxlength="200">
                                <p> </p>

                                <b><label for="tuluble">MSDS Documents:</label></b>
                                <input type="url" name="msds" required id="msds" placeholder="Enter Link"
                                    maxlength="200">
                                <p> </p>

                                <div class="add_button">
                                    <button id="add_button" 
                                    name="add_button" 
                                    type="submit" 
                                    class="btn waves-effect waves-luluble-pink luluble-pink">
                                    Add Ingredient</button>
                                </div>
                                <p> </p>
                        </form>


                        </article>
                    </div>
                </div>
            </div>


            <script>
                const hazardousSwitch = document.getElementById('hazardousSwitch');
                const textBoxContainer = document.getElementById('textBoxContainer');

                hazardousSwitch.addEventListener('change', function() {
                    if (hazardousSwitch.checked) {
                        console.log(hazardousSwitch.checked);
                        textBoxContainer.style.display = 'block';
                    } else {
                        console.log(hazardousSwitch.checked);
                        textBoxContainer.style.display = 'none';
                    }
                });

            </script>

            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
            <script src="/libs/jspdf.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>

            
            <script>
                $(document).ready(function () {
                    $("#add_button").click(function () {

                        const selects = document.querySelector('#classifier');
                        let theSelectedOption;

                        selects.addEventListener('change', (event) => {
                            //window.location.href = "inventory/"
                            theSelectedOption = event.target.value;
                        });

                        let isHazardous = 0;
                        const hSwitch = document.getElementById('hazardousSwitch');
                        isHazardous = hSwitch.checked;
                         

                      
                        const inci_name = $("#inci_name").val();
                        const trade_name = $("#trade_name").val();
                        const encoding = $("#encoding").val();
                        const classifier = theSelectedOption;
                        const amt = $("#amt").val();
                        const shelf = $("#shelf").val();
                        const lot_num = $("#lot_num").val();
                        const cost = $("#cost").val();
                        const expiration = $("#expiration").val();
                        const date_received = $("#date_received").val();
                        const supplier = $("#supplier").val();
                        const coa = $("#coa").val();
                        const msds = $("#msds").val();
                        
                        let hazardDetails = "N/A";
                        if (isHazardous)
                            hazardDetails = $("#hazardDetails").val();

                    });
                });
            </script>

       
            {{!-- <script>
                const select = document.querySelector('#myDropdown');
                let selectedOption;

                select.addEventListener('change', (event) => {
                    selectedOption = event.target.value;

                    if (window.location.href.indexOf("inventory/") !== -1) {
                        window.location.href = "/inventory/" + selectedOption;
                    }
                    else {
                        window.location.href = "/inventory/" + selectedOption;
                    }
                    sleep(1000);
                    let header = document.getElementById("inventoryTitle");
                    console.log(header);
                });
                header.innerHTML = "Inventory - " + selectedOption;
            </script> --}}

            <script>
                $(document).ready(function () {
                    $('browser-default').formSelect();
                    $('.modal').modal();
                })
            </script>

            <div class="col s12 m4 l4">
                <p></p>
            </div>

            <div class="col s12 m4 l6">
                <p></p>
                <nav>
                    <div class="nav-wrapper pink accent-1" style="margin-top:20px">
                        <div class="input-field">
                            <input type="search" id="gsearch" name="gsearch">
                            <label for="search" class="label-icon"> <i class="material-icons">search</i></label>
                            {{!-- <input type="submit"> --}}
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                    <div style="text-align:right">
                        <button id="clear-search"
                            name="clear-search" 
                            onclick="redirectToPage()"
                            class="btn waves-effect waves-luluble-pink luluble-pink">
                            Clear Search</button>
                    </div>
                </nav>
            </div>
        </div>

        <script>
            function redirectToPage() {
                const clearedUrl = "http://localhost:3000/inventory";
                const currentUrl = window.location.href;
                
                if (currentUrl !== clearedUrl) {
                    console.log(clearedUrl);
                    window.location.href = clearedUrl;
                }
            }

            const clear = document.querySelector('#clear-search');
            clear.addEventListener("click", redirectToPage);
        </script>


        {{!-- search script --}}

        <script>
            const search = document.querySelector('#gsearch');
            
            const regex = /^[a-zA-Z0-9\s]*$/;
            let searchBar = document.getElementById('gsearch');
            let searchButton = document.getElementById('search-button');
            let searchTerm;
            

            search.addEventListener('change', (event) => {
                searchTerm = searchBar.value.trim();
                searchBar.value = searchTerm;

                function validateSearchInput(input) {
                    return regex.test(input);
                }

                const stateObj = { url: '/inventory' };
                const title = '';
                const newUrl = '/inventory';

                if (searchTerm.length === 0 || !validateSearchInput(searchTerm)) {
                    window.location.assign("/inventory");
                }
                else {
                    if (window.location.href.indexOf("inventory/") !== -1) {
                        console.log(searchTerm);
                        window.location.assign("/inventory/search/" + searchTerm);

                    }
                    else {
                        console.log("inventory/" + searchTerm);
                        window.location.assign("/inventory/search/" + searchTerm);

                    }
                }
               
            });
        </script>

      
        <div style="padding:20px">
            <div class="table-container">
                <table id="my-table" class="scrollable">
                    <thead>
                        <tr id="ing">
                            <th id="inci">INCI Name
                                <a id="sort-inci-button" class="waves-effect">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>

                            </th>
                            <th id="trade">Trade Name
                                <a id="sort-trade-button" class="waves-effect">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>
                            </th>
                            <th id="trade">Ingredient ID
                                <a id="sort-trade-button" class="waves-effect">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>
                            </th>
                            <th id="trade">Supplier
                                <a id="sort-supplier-button" class="waves-effect">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>
                            </th>
                            <th>Amount Available
                                <a id="sort-amount-button" class="waves-effect">
                                    <i class="large material-icons" style="font-size: 20px">arrow_drop_down</i>
                                </a>
                            </th>
                            <th id="shelf">Shelf
                            </th>
                            <th id="lot_number">Lot Number
                            </th>
                            <th id="cost">Cost
                            </th>
                            {{#ifEitherTrue (eq isAdmin 0) (eq isAdmin 1)}}
                            <th id="archive">Archive
                            </th>
                            {{/ifEitherTrue}}
                            <th id="edit">Edit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each results}}
                        <tr>
                            {{#if ../isAdmin}}
                            <td>{{this.inci_name}}
                                <a href="#terms{{ingredient_id}}" class="modal-trigger">
                                    <span class="large material-icons">info_outline</span>
                                </a>
                                <div class="modal" id="terms{{ingredient_id}}">
                                    <div class="row">
                                        <div class="col s12">&nbsp;</div>
                                        <div class="col s12"><b>
                                                <font size="+2">Ingredient Information</font>
                                            </b></div>
                                        <div class="col s12">&nbsp;</div>
                                        <div class="col s6">
                                            
                                                <b>Trade Name:</b> {{this.trade_name}}<br></br>
                                                <b>INCI Name:</b> {{this.inci_name}}<br></br>
                                                <b>Amount Available:</b> {{this.amt}} {{this.unit}}<br></br>
                                                <b>Supplier:</b> {{this.supplier}}<br></br>
                                                <b>Lot Number:</b> {{this.lot_num}}<br></br>
                                                <b>Shelf:</b> {{this.shelf}}<br></br>
                                                <b>Cost:</b> {{this.cost}}<br></br>
                                        </div>
                                        <div class="col s6">
                                            <span><b>TSCA Approved:</b> {{this.tsca_approved}}<br></br>
                                                <b>Date Receieved:</b>{{formatDate this.date_received}}<br></br>
                                                <b>Expiration Date:</b>{{formatDate this.expiration}}<br></br>
                                                <b>COA:</b> <a href="{{this.coa}}">Link</a><br></br>
                                                <b>MSDS:</b> <a href="{{this.msds}}">Link</a><br></br>
                                        </div>

                                        <div class="col s12">&nbsp;</div>
                                    </div>
                                </div>
                            </td>
                            <td>{{this.trade_name}}</td>                       
                            {{else}}
                                <td>{{this.encoding}} {{#if (eq this.hazardous 0)}}{{/if}}</td>
                            {{/if}}
                            {{#if (eq ../isAdmin 2)}}
                                <td>{{this.encoding}} {{#if this.hazardous}}<i class="btn tooltipped material-icons" data-position="bottom" data-tooltip="I am a tooltip">warning</i>{{/if}}</td>
                            {{/if}}
                            <td>{{this.supplier}}</td>
                            <td>{{this.amt}} {{this.unit}}</td>
                            <td>{{this.shelf}}</td>
                            <td>{{this.lot_num}}</td>
                            <td>{{this.cost}}</td>
                            {{#ifEitherTrue (eq ../isAdmin 0) (eq ../isAdmin 1)}}
                            <td>
                                <div class="archive_button">
                                    <a href="/inventory/archive-ingredient/{{this.ingredient_id}}"
                                        class="btn waves-effect waves-luluble-pink luluble-pink">Archive</a>
                                </div>
                            </td>
                            {{/ifEitherTrue}}
                            <td>
                                <div class="edit_button">
                                    <a href="#termss{{ingredient_id}}"
                                        class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger">Edit</a>
                                    <div class="modal" id="termss{{ingredient_id}}">
                                        <div style="padding: 5% 5% 5% 5%">
                                            {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                            <h1 style="font-size:40px;">Edit Ingredient</h1>

                                            <form method="POST" action="/inventory/{{ingredient_id}}/inventoryingredientupdate" class="validate">
                                                <article class="regular">
                                                    {{!-- <h2>Textbook</h2> --}}

                                                    <b><label for="tuluble">INCI Name:</label></b>
                                                    <input type="text" name="inci_name_edit" id="inci_name_edit"
                                                        value="{{this.inci_name}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                {{!-- Field 2 --}}
                                                <b><label for="tuluble">Trade Name:</label></b>
                                                <input type="text" name = "trade_name_edit" id="trade_name_edit" value="{{this.trade_name}}" maxlength="200" pattern="^[a-zA-Z0-9\s]*$">
                                                <p> </p>

                                                <b><label for="tuluble">Encoding:</label></b>
                                                <input type="text" name="encoding_edit" id="encoding_edit" value="{{this.encoding}}"
                                                    maxlength="20" pattern="^[a-zA-Z0-9\s]*$">
                                                <p> </p>
                                                <br>

                                                <b><label for="tuluble">Hazardous?</label></b>
                                                <div class="switch">
                                                <label>
                                                    No
                                                    <input type="checkbox" id="hazardousSwitchEdit">
                                                    <span class="lever"></span>
                                                    Yes
                                                </label>
                                                </div>
                                                <br>

                                                <div id="textBoxContainerEdit" style="display: none;">
                                                <b><label for="tuluble">Hazard Details:</label></b>
                                                <input type="text" name="hazardDetailsEdit" id="hazardDetailsEdit" placeholder="{{this.hazardDetails}}"
                                                    maxlength="60" pattern="^[a-zA-Z0-9\s]*$">
                                                <br>
                                                </div>


                                                    {{!-- Field 3 --}}
                                                    <b><label for="tuluble">Amount Available:</label></b>
                                                    <input type="number" name="amt_edit" id="amt_edit"
                                                        value="{{this.amt}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                    {{!-- Field 4 --}}
                                                    <b><label for="tuluble">Shelf:</label></b>
                                                    <input type="text" name="shelf_edit" id="shelf_edit"
                                                        value="{{this.shelf}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                    <b><label for="tuluble">Select Classifier:</label></b>
                                                
                                                    <select name="classifier_edit" id="classifier_edit" class="browser-default">
                                                        <option value="Thickener" {{isSelected "Thickener" classifier_id}}>Thickeners</option>
                                                        <option value="Oils" {{isSelected "Oils" classifier_id}}>Oils</option>
                                                        <option value="Butters" {{isSelected "Butters" classifier_id}}>Butters</option>
                                                        <option value="Surfactants" {{isSelected "Surfactants" classifier_id}}>Surfactants</option>
                                                        <option value="Functional-Active" {{isSelected "Functional-Active" classifier_id}}>Functional/Active</option>
                                                        <option value="Preservatives" {{isSelected "Preservatives" classifier_id}}>Preservatives</option>
                                                        <option value="Extracts-Fragrances-Flavor" {{isSelected "Extracts-Fragrances-Flavor" classifier_id}}>
                                                            Extracts/Fragrances/Flavor</option>
                                                        <option value="Experimental" {{isSelected "Experimental" classifier_id}}>Experimental</option>
                                                        <option value="Colorants" {{isSelected "Colorants" classifier_id}}>Colorants</option>
                                                        <option value="Absorbents" {{isSelected "Absorbents" classifier_id}}>Absorbents</option>
                                                        <option value="pH Adjusters (Acids)" {{isSelected "pH Adjusters (Acids)" classifier_id}}>pH Adjusters (Acids)</option>
                                                        <option value="pH Adjusters (Bases)" {{isSelected "pH Adjusters (Bases)" classifier_id}}>pH Adjusters (Bases)</option>
                                                        <option value="Distilled_Water-Ethyl_Alcohol" {{isSelected "Distilled_Water-Ethyl_Alcohol" classifier_id}}>Distilled Water/Ethyl
                                                            Alcohol</option>
                                                    </select>
                                                    <p> </p>
                                                    <p> &nbsp;</p>

                                                    <b><label for="tuluble">Lot Number:</label></b>
                                                    <input type="text" name="lot_num_edit" id="lot_num_edit"
                                                        value="{{this.lot_num}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                    <b><label for="tuluble">Cost Per Kilo:</label></b>
                                                    <input type="text" name="cost_edit" id="cost_edit"
                                                        value="{{this.cost}}" pattern="^[a-zA-Z0-9\s$]*$">
                                                    <p> </p>

                                                    <b><label for="tuluble">Expiration Date:</label></b>
                                                    <input type="date" id="expiration_edit" name="expiration_edit"
                                                        value="{{formatDate this.expiration}}" >
                                                    <p> </p>

                                                    <b><label for="tuluble">Date Received:</label></b>
                                                    <input type="date" name="date_received_edit" id="date_received_edit"
                                                        value="{{formatDate this.date_received}}" >
                                                    <p> </p>

                                                    <b><label for="tuluble">Supplier:</label></b>
                                                    <input type="text" id="supplier_edit" name="supplier_edit" 
                                                        value="{{this.supplier}}" pattern="^[a-zA-Z0-9\s]*$">
                                                    <p> </p>

                                                    <b><label for="tuluble">COA Link:</label></b>
                                                    <input type="text" name="coa_edit" id="coa_edit"
                                                        value="{{this.coa}}" maxlength="100">
                                                    <p> </p>

                                                    <b><label for="tuluble">MSDS Link:</label></b>
                                                    <input type="text" name="msds_edit" id="msds_edit"
                                                        value="{{this.msds}}" maxlength="100">
                                                    <p> </p>

                                                    <div class="update_button">
                                                        <button id="update_button" 
                                                        name="update_button" 
                                                        type="submit"
                                                        class="btn waves-effect waves-luluble-pink luluble-pink">
                                                        Finish Editing</button>
                                                    </div>
                                                    <p> </p>
                                            </form>
                                            </article>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <script>
                            const hazardousSwitchObj = document.getElementById('hazardousSwitchEdit');
                            const textBoxContainer2 = document.getElementById('textBoxContainerEdit');

                            hazardousSwitchObj.addEventListener('change', function() {
                            if (hazardousSwitchObj.checked) {
                                textBoxContainer2.style.display = 'block';
                            } else {
                                textBoxContainer2.style.display = 'none';
                            }
                            });
                        </script>

                        <script>
                            const hazardousValue = {{hazardous}}; 

                            hazardousSwitchEdit.checked = hazardousValue;

                            if (hazardousSwitchObj.checked) {
                                textBoxContainer2.style.display = 'block';
                            } else {
                                textBoxContainer2.style.display = 'none';
                            }

                        </script>

                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        </div>


        <script>
            $(document).ready(function () {
                $("#update_button").click(function () {

                    const selected = document.querySelector('#classifier');
                    let newSelectedOption;

                    selected.addEventListener('change', (event) => {
                        newSelectedOption = event.target.value;
                    });

            
         
                    const classifier = newSelectedOption;
                    const hazardousSwitchEdit = $("#hazardousSwitchEdit").checked;
                   
                    let hazardDetails = "N/A";
                    if (hazardousSwitchEdit)
                        hazardDetails = $("#hazardDetails").val();
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                $('.modal').modal();
            })
        </script>

        <script>
            document.getElementById('sort-inci-button').addEventListener('click', function () {
                sortTableByInci(0); // Sort by the first column
            });

            function sortTableByInci(columnIndex) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById('my-table');
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName('TD')[columnIndex];
                        y = rows[i + 1].getElementsByTagName('TD')[columnIndex];
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>

        <script>
            document.getElementById('sort-trade-button').addEventListener('click', function () {
                sortTableByTrade(1); // Sort by the first column
            });

            function sortTableByTrade(columnIndex) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById('my-table');
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName('TD')[columnIndex];
                        y = rows[i + 1].getElementsByTagName('TD')[columnIndex];
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>

            <script>
            document.getElementById('sort-supplier-button').addEventListener('click', function () {
                sortTableByTrade(2); // Sort by the first column
            });

            function sortTableByTrade(columnIndex) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById('my-table');
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName('TD')[columnIndex];
                        y = rows[i + 1].getElementsByTagName('TD')[columnIndex];
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>

        <script>
            document.getElementById('sort-amount-button').addEventListener('click', function () {
                sortTableByAmount(2); // Sort by the first column
            });

            function sortTableByAmount(columnIndex) {
                var table, rows, switching, i, x, y, shouldSwitch;
                table = document.getElementById('my-table');
                switching = true;
                while (switching) {
                    switching = false;
                    rows = table.rows;
                    for (i = 1; i < (rows.length - 1); i++) {
                        shouldSwitch = false;
                        x = rows[i].getElementsByTagName('TD')[columnIndex];
                        y = rows[i + 1].getElementsByTagName('TD')[columnIndex];
                        // Compare the cell values as numbers instead of strings
                        if (parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                    if (shouldSwitch) {
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }
                }
            }
        </script>

        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    </body>

</html>