<!DOCTYPE html>
<html>

    <head>
        <title>{{#each procedure_info}}{{project_name}}{{/each}} Procedure</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/styles/color.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script type="text/javascript" src="/routes/procedure.js"></script>
        <script type="text/javascript" src="/routes/procedure_client.js"></script>
    </head>

    <style>
        .container {
        display: flex;
        }
    </style>

    <body style="display: flex; flex-direction: column;">
        
        <div style="padding: 2% 2% 0% 2%">
            {{> navbar}}

            <h1 style="padding: 25px">{{#each procedure_info}}{{project_name}}{{/each}} Procedure </h1>
       
            <table id="my-table" class="sortable">
                <thead>
                    <tr id = "ing">
                        <th>Delete</th>
                        <th>Phase</th>
                        <th>Procedure</th>
                        <th>Comments/Ingredients</th>
                        <th>Initial Temperature (C)</th>
                        <th>Final Temperature (C)</th>
                        <th>Timing (min)</th>
                        <th>Initial Mixing (rpm)</th>
                        <th>Final Mixing (rpm)</th>
                        <th>Mixer Type</th>
                        <th>Blade</th>
                    </tr>
                </thead>

                <tbody>
                {{#each results}}

                <tr>
                    <td class="right-align">
                        <a href="#deleteProcedureStep{{procedure_item_id}}" class="material-icons modal-trigger">delete</a>

                        <div id="deleteProcedureStep{{procedure_item_id}}" class="modal">
                            <div class="modal-content left-align">
                                <h6>Are you sure you would like to delete this step?</h6>
                            </div>
                            <div class="modal-footer">
                                <a class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" href="/procedure/{{../project_id}}/deleteProcedureStep/{{procedure_item_id}}">YES</a>
                            </div>
                        </div>
                    </td>

                    <td contenteditable="true">{{phase_num}}</td>
                    <td contenteditable="true">{{proc}}</td>
                    <td contenteditable="true">{{comments}}</td>
                    <td contenteditable="true">{{temp_init}}</td>
                    <td contenteditable="true">{{temp_final}}</td>
                    <td contenteditable="true">{{timing}}</td>
                    <td contenteditable="true">{{mixing_init}}</td>
                    <td contenteditable="true">{{mixing_final}}</td>
                    <td contenteditable="true">{{mixer_type}}</td>
                    <td contenteditable="true">{{blade}}</td>
                </tr>
                {{/each}}
                <tr>
                    <div class="row">
                        <div class="col s6">
                            <a href="#openProc" class="btn waves-effect waves-light luluble-pink modal-trigger" style = "margin-left: 25px; margin-bottom: 10px">Add</a>

                            <div class="modal" id="openProc">
                                <div style="padding: 5% 5% 5% 5%">
                                    {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                    <h1 style="font-size:40px;">Add a New Step</h1>

                                    {{!-- somehow get the formula of the tab clicked on --}}
                                    <form method="POST" action="/procedure/{{project_id}}/procformsubmit">
                                        <article class="regular">
                                            {{!-- <h2>Textbook</h2> --}}

                                            {{!-- Field 1 --}}
                                            <b><label for="tuluble">Phase:</label></b>
                                            <input type="number" name = "phaseNumber" id="phaseNumber" placeholder="Enter Phase Number" maxlength="20">
                                            <p> </p>

                                            {{!-- Field 2 --}}
                                            <b><label for="tuluble">Procedure:</label></b>
                                            <input type="text" name = "theProcedure" id="theProcedure" placeholder="Enter Procedure" maxlength="300">
                                            <p> </p>

                                            {{!-- Field 3 --}}
                                            <b><label for="tuluble">Comments/Ingredients:</label></b>
                                            <input type="text" name = "procComments" id="procComments" placeholder="Enter Comments" maxlength="300">
                                            <p> </p>

                                            <b><label for="tuluble">Initial Temperature (C):</label></b>
                                            <input type="number" name = "initialTemp" id="initialTemp" placeholder="Enter Initial Temperature" maxlength="20">
                                            <p> </p>

                                            <b><label for="tuluble">Final Temperature (C):</label></b>
                                            <input type="number" name = "finalTemp" id="finalTemp" placeholder="Enter Final Temperature" maxlength="20">
                                            <p> </p>

                                            <b><label for="tuluble">Timing (min):</label></b>
                                            <input type="text" name = "timing" id="timing" placeholder="Enter Timing" maxlength="45">
                                            <p> </p>

                                            <b><label for="tuluble">Initial Mixing (rpm):</label></b>
                                            <input type="text" name = "initialMixSpeed" id="initialMixSpeed" placeholder="Enter Initial Mixing Speed" maxlength="20">
                                            <p> </p>

                                            <b><label for="tuluble">Final Mixing (rpm):</label></b>
                                            <input type="text" name = "finalMixSpeed" id="finalMixSpeed" placeholder="Enter Final Mixing Speed" maxlength="20">
                                            <p> </p>

                                            <b><label for="tuluble">Mixer Type:</label></b>
                                            <input type="text" name = "mixerType" id="mixerType" placeholder="Enter Mixer Type" maxlength="45">
                                            <p> </p>

                                            <b><label for="tuluble">Blade:</label></b>
                                            <input type="text" name = "blade" id="blade" placeholder="Enter Blade" maxlength="45">
                                            <p> </p>

                                            <div class="add_proc_button">
                                                <button id = "add_proc_button" class="btn waves-effect waves-luluble-pink luluble-pink modal-trigger" type="submit">Add Procedure</button>
                                            </div>
                                            <p> </p>
                                        </article>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        
     
      

        <script>
            $(document).ready(function() {
                $("#add_proc_button").click(function() {
                window.location.href += "/procformsubmit";
                //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                });
            });
        </script>

        <script>
            const editableCells = document.querySelectorAll('[contenteditable="true"]');
            
            editableCells.forEach(cell => {
            const originalContent = cell.innerText;

            cell.addEventListener('keydown', function (e) {
                if (e.keyCode === 13) { // Capture Enter key
                // console.log("yoohoo");
                e.preventDefault(); // Prevent line break
                cell.blur(); // Exit the cell
                }
            });

            cell.addEventListener('blur', function () {
            const editedContent = cell.innerText;
            if (originalContent !== editedContent) {
                const phase = cell.parentNode.rowIndex; // Get the phase number
                const column = cell.cellIndex; // Get the column index

                console.log("Edited content:", editedContent);
                console.log("Phase:", phase);
                console.log("Column:", column);

                window.location.href += "/cellEdited/" + phase + "/" + column + "/" + editedContent;
                // Perform further actions with the edited content, phase, and column
            }
            });
            });
        </script>

    </body>
</html>