<!DOCTYPE html>
<html>

    <head>
        <title style="color:#e700a2">Projects</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/public/styles/projects.css">
        <link rel="stylesheet" href="/partials/color.css">
        <script type="text/javascript" src="/routes/projects.js"></script>

    </head>

    <body>

        <script src="app.js"></script>


        <div style="display: flex; justify-content:space-between;">
            {{> navbar}}

            {{> logout}}
        </div>
        <div style="padding: 2% 2% 0% 2%">

            <!-- https://materializecss.com/cards.html -->

            <h1>Projects </h1>

            <div style="display: flex; justify-content: flex-end;">
                <nav style="width: 30%;">
                    <div class="nav-wrapper pink accent-1" >
                        <div class="input-field">
                            <input type="search" id="gsearch" name="gsearch">
                            <label for="search" class="label-icon"> <i class="material-icons">search</i></label>
                            {{!-- <input type="submit"> --}}
                            <i class="material-icons">close</i>
                        </div>
                    </div>
                </nav>
            </div>
            <div style="text-align:right; margin-top:10px">
                    <button id="clear-search"
                        name="clear-search" 
                        onclick="redirectToPage()"
                        class="btn waves-effect waves-luluble-pink luluble-pink">
                        Clear Search</button>
            </div>
            <div class="col s12 m6 offset-m3">
                <p></p>
            </div>

            <script>
                function redirectToPage() {
                    const clearedUrl = "http://localhost:3000/projects";
                    const currentUrl = window.location.href;
                    const word = "search"
                    const clear = document.querySelector('#clear-search');

                    if (currentUrl.toString().includes(word)) {
                        
                        clear.addEventListener("click", function() {
                            window.location.href = clearedUrl;
                        });
                    }
                }

                // Add the event listener outside the redirectToPage function
                const clear = document.querySelector('#clear-search');
                clear.addEventListener("click", redirectToPage);
            </script>

            {{!-- search script --}}

            <script>
                const search = document.querySelector('#gsearch');

                const regex = /^[a-zA-Z0-9\s]*$/;
                let searchBar = document.getElementById('gsearch');
                let searchButton = document.getElementById('search-button');
                let searchTerm;
                const currentURL = String(window.location.href);
                const scientistIDIndex = currentURL.indexOf('/sci/') + 5; // Add 5 to exclude "/sci/"
                const scientistIDString = currentURL.slice(scientistIDIndex);
                let scientistID = String(parseInt(scientistIDString));


                search.addEventListener('change', (event) => {
                    searchTerm = searchBar.value.trim();
                    searchBar.value = searchTerm;

                    function validateSearchInput(input) {
                        return regex.test(input);
                    }

                    const stateObj = { url: "/projects/sci/" + scientistID };
                    const title = '';
                    const newUrl = "/projects/sci/" + scientistID;

                    if (searchTerm.length === 0 || !validateSearchInput(searchTerm)) {
                        window.location.assign("/projects");
                    }
                    else {
                        if (window.location.href.indexOf("projects/sci/" + scientistID) !== -1) {
                            window.location.assign("/projects/sci/" + scientistID + "/search/" + searchTerm);
                        }
                        else {
                            window.location.assign("/projects/sci/" + scientistID + "/search/" + searchTerm);
                        }
                    }
                });
            </script>

            {{!-- moment import --}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>

            <script>
                console.log("AM I HERE?");
                console.log("ahem");

                const originalDate = 'Mon May 15 2023 00:00:00 GMT-0400 (Eastern Daylight Time)';
                console.log(originalDate);
                const formattedDate = moment(originalDate).format('YYYY-MM-DD');
                console.log(formattedDate); // Output: 2023-05-15

                hbs.registerHelper("formatDate", function(date) {
                    return moment(date).format("MMMM DD, YYYY");
                });
            console.log("how abt here");

            </script>
            
            <script>
                function formatDate(date) {
                    return moment(date).format("MMMM DD, YYYY");
                }
            </script>

            <script>
                console.log("CHECK");
                Handlebars.registerHelper("formatDate", function(date) {
                    return moment(date).format("MMMM DD, YYYY");
                });

                //function formatDate(date) {
                    //  return moment(date).format("MMMM DD, YYYY");
                //}
            </script>


            {{#each results}}
            <div class="row">
                <div class="col s7 m6 l6">
                    {{!-- <a href="#terms" class="modal-trigger"> --}}
                        <div class="card hoverable luluble-light-pink darken-1">

                            <div class="card-content white-text">
                                {{!-- projects/{{this.project_name}} --}}
                                <a style="color: black;" onMouseOver="this.style.color='#0087ca'"
                                onMouseOut="this.style.color='#000000'" class="card-title nav-link"
                                        href="/projects/{{project_id}}"><b>{{project_name}}</b>
                                <h6 style="color: black; ">Client: {{client}}</h6>
                                <h6 style="color: black;">{{formatDate date}}</h6>
                                <div class="col s12">&nbsp;</div>
                                <div class="row">
                                    <div class = "col s12 m4 l4">
                                        <a href="#term{{project_id}}" class="modal-trigger">
                                            <span class="btn-small luluble-light-grey">See More</span>
                                        </a>
                                    </div>
                                    <div class = "col s12 m4 l4">
                                        <div class="delete_button">
                                            <a href="archive-project/{{project_id}}" class="btn waves-effect waves-light-grey luluble-light-grey">Archive</a>
                                        </div>
                                    </div>
                                    <div class = "col s12 m4 l4">
                                        <div class="edit_button">
                                            <a href="#edit_project{{project_id}}" class="btn waves-effect waves-light-grey luluble-light-grey modal-trigger">Edit</a>
                                            <div class="modal" id="edit_project{{project_id}}">
                                                <div style="padding: 5% 5% 5% 5%">
                                                    {{!-- <b><span>Add a New Ingredient</span></b> --}}
                                                    <h1 style="color: black;" style="font-size:40px;" >Edit Project</h1>

                                                    <form method="POST" action="/projects/{{project_id}}/projectupdate">
                                                        <article class="regular">
                                                            {{!-- <h2>Textbook</h2> --}}

                                                            <b><label for="tuluble">Project Name:</label></b>
                                                            <input type="text" name = "userInput1" id="userInput1" value="{{this.project_name}}">
                                                            <p> </p>

                                                            {{!-- Field 2 --}}
                                                            <b><label for="tuluble">Client Name:</label></b>
                                                            <input type="text" name = "userInput2" id="userInput2" value="{{this.client}}">
                                                            <p> </p>

                                                            {{!-- Field 3 --}}
                                                            <b><label for="tuluble">Date Started:</label></b>
                                                            <input type="date" name = "userInput3" id="userInput3" value="{{formatDate this.date}}">
                                                            <p> </p>

                                                            {{!-- Field 4 --}}
                                                            <b><label for="tuluble">Contact Name:</label></b>
                                                            <input type="text" name = "contactName1" id="contactName1" value="{{this.client_name}}">
                                                            <p> </p>

                                                            {{!-- Field 5 --}}
                                                            <b><label for="tuluble">Contact Email:</label></b>
                                                            <input type="text" name = "contactEmail1" id="contactEmail1" value="{{this.client_email}}">
                                                            <p> </p>

                                                            <div class="update_button">
                                                                <button id = "update_button" name = "update_button" type="submit" class="btn waves-effect waves-luluble-pink luluble-pink">Finish Editing</button>
                                                                {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                                            </div>
                                                            <p> </p>
                                                        </form>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                {{!-- </a> --}}
            {{/each}}
            {{#each results}}
                <div class="modal" id="term{{project_id}}">
                    <div class="row">
                        <div class="col s12">&nbsp;</div>
                        <div class="col s12"><b><font size="+2">{{project_name}}</font></b></div>
                        <div class="col s12">&nbsp;</div>
                        <div class="col s6">
                            <span><b>Client:</b> {{client}}<br></br><b>Date: </b>{{date}}</span>
                        </div>
                        <div class="col s6">
                            <span><b>Contact name: </b>{{client_name}}<br></br><b>Contact email: </b>{{client_email}}</span>
                        </div>
                        <div class="col s12">&nbsp;</div>
                        {{!-- <div class="col s12 m6 l3">
                            <p></p>
                        </div>
                        <div class="col s12 m6 l3">
                            <p></p>
                        </div> --}}

                      
                    </div>
                </div>
            </div>
            
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
            
            <script>
                $(document).ready(function () {
                    $('.modal').modal();
                })
            </script>

            <div class="card-action"></div>

            {{/each}}

            <script>
                $(document).ready(function() {
                    $("#update_button").click(function() {

                    const inputValueU1 = $("#userInputU1").val();
                    const inputValueU2 = $("#userInputU2").val();
                    const inputValueU3 = $("#userInputU3").val();
                    const clientName1 = $("#clientName1").val();
                    const clientEmail1 = $("#clientEmail1").val();

                    window.location += "projectupdate";
                    //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                    });
                });
            </script>

            </div>
            {{!-- <a href="/created" class="btn-floating btn-large orange fixed-action-btn">
                <i class="large material-icons">create</i>
            </a> --}}

            <a href="#terms" class="btn-floating btn-large orange fixed-action-btn modal-trigger" >
                <i class="large material-icons">create</i>
                {{!-- <span class="large material-icons">create</span> --}}
            </a>
            <div class="modal" id="terms">
                    <div style="padding: 5% 5% 5% 5%">
                        {{!-- <b><span>Add a New Ingredient</span></b> --}}
                        <h1 style="font-size:40px;">Add a New Project</h1>

                        <form method="POST" action="/projects/sci/{{sci_id}}/projectformsubmit">
                            <article class="regular">
                                {{!-- <h2>Textbook</h2> --}}

                                {{!-- Field 1 --}}
                                <b><label for="tuluble">Project Name:</label></b>
                                <input type="text" name = "userInputP1" id="userInputP1" placeholder="Enter Project Name" maxlength="100">
                                <p> </p>

                                {{!-- Field 2 --}}
                                <b><label for="tuluble">Client Name:</label></b>
                                <input type="text" name = "userInputP2" id="userInputP2" placeholder="Enter Client Name" maxlength="100">
                                <p> </p>

                                {{!-- Field 3 --}}
                                <b><label for="tuluble">Date Started:</label></b>
                                <input type="date" name = "userInputP3" id="userInputP3" placeholder="Enter Date Started">
                                <p> </p>

                                {{!-- Field 2 --}}
                                <b><label for="tuluble">Contact Name:</label></b>
                                <input type="text" name = "contactName" id="contactName" placeholder="Enter Contact Name" maxlength="100">
                                <p> </p>

                                {{!-- Field 2 --}}
                                <b><label for="tuluble">Contact Email:</label></b>
                                <input type="text" name = "contactEmail" id="contactEmail" placeholder="Enter Contact Email" maxlength="80">
                                <p> </p>

                               

                                <div class="add_project_button">
                                <button id = "add_project_button" 
                                type="submit"
                                class="btn waves-effect waves-luluble-pink luluble-pink"
                                >Add Project</button>
                                {{!-- <a id="add_button" class="btn waves-effect waves-light luluble-pink">Add Ingredient</a> --}}
                                </div>
                                <p> </p>
                            </form>
                        </article>
                    </div>
                </div>
            
        </div>

        <script>
            $(document).ready(function() {
                $("#add_project_button").click(function() {
                    
                //const selects = document.querySelector('#userInput5');
                //let theSelectedOption;

                //select.addEventListener('change', (event) => {
                    //window.location.href = "inventory/"
                    //theSelectedOption = event.target.value;
                //});

                const inputValue1 = $("#userInput1").val();
                const inputValue2 = $("#userInput2").val();
                const inputValue3 = $("#userInput3").val();
                const inputValue4 = $("#userInput4").val();
                const inputValue5 = $("#userInput5").val();

                module.exports = {inputValue1};
                module.exports = {inputValue2};
                module.exports = {inputValue3};
                module.exports = {inputValue4};
                module.exports = {inputValue5};

                window.location += "projectformsubmit";
                //$(window).attr("location", "inventoryformsubmit/" + inputValue1);
                });
            });
        </script>

        <script>
            function myfunc() {
                console.log("hello");
            }
            $(document).ready(function () {
                $('browser-default').formSelect();
                $('.modal').modal();
            });

            $('browser-default').formSelect('myfunc');
                // $('select').formSelect('methodName', paramName);

        </script>

        <script>
            $(document).ready(function () {
                $('browser-default').formSelect();
                $('.modal').modal();
            })
        </script>

        <script>
            $(document).ready(function() {
                $("#add_project_button").click(function() {

                var inputValue1 = $("#userInputP1").val();
                var inputValue2 = $("#userInputP2").val();
                var inputValue3 = $("#userInputP3").val();
                var contactName = $("#contactName").val();
                var contactEmail = $("#contactEmail").val();

                window.location += "projectformsubmit";
                });
            });
        </script>
=
    </body>

</html>
