
    <form id="create_update_project" method="post" action="/projects{{#if project}}/{{project.project_id}}{{/if}}">
      <!-- action and method depend on C vs U-->
      <input type="hidden" name="project_id" id="project_id" value="{{#if project}}{{project.project_id}}{{/if}}">
      <!-- server sets project_id value-->

      <div class="container">
        <div class="card grey lighten-4">
          <div class="card-content">

            <span class="card-title">
              <h1>{{ title }}</h1>
            </span>


            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="project_name" id="project_name" class="validate" data-length="32" required>
                <label for="project_name">Project Name</label>
              </div>
            </div>

            <!-- https://materializecss.com/select.html -->
            {{!-- <div class="row">
              <div class="input-field col s6">
                <select id="project_type" name="project_type_id" required>
                  <option value="" disabled selected>Select a type</option>
                  {{#each project_types}}
                      <option value="{{project_type_id}}">{{name}}</option>
                  {{/each}}
                </select>
                <label for="project_type">Project Type</label>
              </div>
            </div>
             
            <div class="row">
              <div class="input-field col s6">
                <select id="project_team" name="project_team_id" required>
                  <option value="" disabled selected>Select a team name</option>
                  {{#each project_teams}}
                      <option value="{{team_id}}">{{team_name}}</option>
                  {{/each}}
                </select>
                <label for="project_team">Project Team</label>
              </div>
            </div> --}}

            <div class="row">
              <div class="input-field col s4">
                <input type="text" id=project_date name="date" class="datepicker no-autoinit" required>
                <label for="date">Date</label>
              </div>
            </div>

            {{!-- <div class="row">
              <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea" data-length="500"></textarea>
                <label for="description">Description</label>
              </div>
            </div> --}}

            <div class="button_wrapper">
              <button class="submit waves-effect waves-light btn" type="submit">{{#if project}}Update{{else}}Create{{/if}}</button>
            </div>
          </div>
        </div>

      </div>
    </form>

  <!-- Special initialization script for initializing .datepicker and.timepicker with options -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {
        format: 'mm-dd-yyyy',
        autoClose: true
      });
    });


    //TODO Form Validation

    //Set fields to curent values, if existing project data provided (modify)
    {{#with project}} 
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("project_name").value = "{{project_name}}";
        document.getElementById("date").value = "{{date}}";

        
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });
    {{/with}}
  </script>
